## This notebook was developed for experiment. For details / rationales/ theories behind the algorithm andfunction of each cell check "--\KM_CN_3D_TIN_SF_PROTOTYPE/src/consol_interactive_ALPHA_3.96.py"

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('/mnt/c/Users/CINPC0075/Desktop/Repo-KCIN3D-reconstruction/Inputs/plot_183D1PLZ_平面図04.csv',index_col=0)
df.head()

,Name,Author,Closed,Color,Comments,Drawing Revision Number,EdgeStyleId,FaceStyleId,File Accessed,File Created,...,Position Y,Position Z,Height,Obliquing,Rotation,Style,Value,Width Factor,Unnamed: 70,Unnamed: 71
Count,,,,,,,,,,,,,,,,,,,,,
1,Line,NaN,NaN,51,51.0,51.0,NaN,NaN,0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Line,NaN,NaN,51,51.0,51.0,NaN,NaN,0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Line,NaN,NaN,51,51.0,51.0,NaN,NaN,0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Line,NaN,NaN,51,51.0,51.0,NaN,NaN,0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Line,NaN,NaN,51,51.0,51.0,NaN,NaN,0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()
print('----------------------------------',
     "---------------------------------------",
     '-------------------------------------')
df.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44705 entries, 1 to 160
Data columns (total 71 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Name                     44705 non-null  object
 1   Author                   0 non-null      float64
 2   Closed                   4400 non-null   object
 3   Color                    44705 non-null  object
 4   Comments                 39306 non-null  float64
 5   Drawing Revision Number  39306 non-null  float64
 6   EdgeStyleId              5399 non-null   float64
 7   FaceStyleId              5399 non-null   float64
 8   File Accessed            44705 non-null  object
 9   File Created             44705 non-null  object
 10  File Last Saved By       44705 non-null  object
 11  File Location            44705 non-null  object
 12  File Modified            44705 non-null  object
 13  File Name                44705 non-null  object
 14  File Size                44705 non-null  object
 15  Fit/Smooth               39914 non-null  object
 16  Hyperlink                39306 non-null  float64
 17  Hyperlink Base           3792 non-null   object
 18  Keywords                 0 non-null      float64
 19  Layer                    5399 non-null   object
 20  Length                   4117 non-null   float64
 21  Linetype                 44705 non-null  object
 22  Linetype Scale           40646 non-null  float64
 23  Lineweight               44705 non-null  object
 24  Material                 43848 non-null  object
 25  Plot Style               44705 non-null  object
 26  Subject                  37321 non-null  object
 27  Title                    39306 non-null  object
 28  Total Editing Time       5399 non-null   float64
 29  VisualStyleId            5399 non-null   float64
 30  Area                     40597 non-null  float64
 31  Center X                 40503 non-null  float64
 32  Center Y                 4764 non-null   float64
 33  Center Z                 4566 non-null   float64
 34  Radius                   4566 non-null   float64
 35  Start Angle              4141 non-null   float64
 36  Thickness                8065 non-null   float64
 37  Total Angle              2067 non-null   float64
 38  Circumference            35741 non-null  float64
 39  Diameter                 1720 non-null   float64
 40  Angle1                   2168 non-null   float64
 41  Associative              2168 non-null   object
 42  BackgroundColor          198 non-null    float64
 43  Double                   292 non-null    object
 44  Origin X                 94 non-null     float64
 45  Origin Y                 292 non-null    object
 46  Pattern Name             292 non-null    object
 47  Scale                    292 non-null    float64
 48  Spacing                  292 non-null    object
 49  Type                     292 non-null    object
 50  Angle                    2935 non-null   float64
 51  Delta X                  2935 non-null   object
 52  Delta Y                  32897 non-null  float64
 53  Delta Z                  32897 non-null  float64
 54  End X                    32897 non-null  float64
 55  End Y                    32897 non-null  float64
 56  End Z                    32897 non-null  float64
 57  Start X                  32897 non-null  float64
 58  Start Y                  32897 non-null  float64
 59  Start Z                  32897 non-null  float64
 60  Position X               30922 non-null  float64
 61  Position Y               30922 non-null  float64
 62  Position Z               2549 non-null   float64
 63  Height                   2507 non-null   float64
 64  Obliquing                2507 non-null   float64
 65  Rotation                 2507 non-null   float64
 66  Style                    2507 non-null   object
 67  Value                    2507 non-null   object
 68  Width Factor             2507 non-null   object
 69  Unnamed: 70              1788 non-null   object
 70  Unnamed: 71              1787 non-null   float64
dtypes: float64(41), object(30)
memory usage: 24.6+ MB
---------------------------------- --------------------------------------- -------------------------------------

(44705, 71)

In [4]:
to_drop = ['Author','Closed', 'Comments', 'Drawing Revision Number', 'EdgeStyleId', 'FaceStyleId', 'File Accessed', 'File Created', 'File Last Saved By', 'File Location',
...            'File Modified','File Name', 'File Size', 'Fit/Smooth', 'Hyperlink', 'Hyperlink Base', 'Keywords']
df.drop(to_drop, inplace=True, axis=1)
df.head()

,Name,Color,Layer,Length,Linetype,Linetype Scale,Lineweight,Material,Plot Style,Subject,...,Position Y,Position Z,Height,Obliquing,Rotation,Style,Value,Width Factor,Unnamed: 70,Unnamed: 71
Count,,,,,,,,,,,,,,,,,,,,,
1,Line,51,NaN,NaN,S-BGD-EXST,0.2311,Continuous,1,0.13 mm,ByLayer,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Line,51,NaN,NaN,S-BGD-EXST,0.2549,Continuous,1,0.13 mm,ByLayer,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Line,51,NaN,NaN,S-BGD-EXST,0.1370,Continuous,1,0.13 mm,ByLayer,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Line,51,NaN,NaN,S-BGD-EXST,0.1567,Continuous,1,0.13 mm,ByLayer,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Line,51,NaN,NaN,S-BGD-EXST,0.1567,Continuous,1,0.13 mm,ByLayer,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.set_index("Value",inplace= True)
df

,Name,Color,Layer,Length,Linetype,Linetype Scale,Lineweight,Material,Plot Style,Subject,...,Position X,Position Y,Position Z,Height,Obliquing,Rotation,Style,Width Factor,Unnamed: 70,Unnamed: 71
Value,,,,,,,,,,,,,,,,,,,,,
NaN,Line,51,NaN,NaN,S-BGD-EXST,0.2311,Continuous,1,0.13 mm,ByLayer,...,396.7315,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Line,51,NaN,NaN,S-BGD-EXST,0.2549,Continuous,1,0.13 mm,ByLayer,...,396.5130,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Line,51,NaN,NaN,S-BGD-EXST,0.1370,Continuous,1,0.13 mm,ByLayer,...,395.4753,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Line,51,NaN,NaN,S-BGD-EXST,0.1567,Continuous,1,0.13 mm,ByLayer,...,395.6385,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Line,51,NaN,NaN,S-BGD-EXST,0.1567,Continuous,1,0.13 mm,ByLayer,...,395.5307,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,Hatch,yellow,S-BMK,NaN,USER_12,1.0000,0.13 mm,NaN,Color_2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,3D Polyline,51,NaN,NaN,S-SUV,4.1761,Continuous,1,0.20 mm,ByLayer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,3D Polyline,51,NaN,NaN,S-SUV,4.1761,Continuous,1,0.20 mm,ByLayer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,3D Polyline,51,NaN,NaN,S-SUV,5.0000,Continuous,1,0.20 mm,ByLayer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,3D Polyline,51,NaN,NaN,S-SUV,4.1761,Continuous,1,0.20 mm,ByLayer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
dtag = []
ran = range(270,300)
for i in ran:
    m = "NO."+str(i)
    dtag.append(m)
row = dtag
#dff = df.loc[df.index.intersection(row)]
dff = df.loc[row, ["Position X", "Position Y", "Position Z"]]
#dff.loc[:,["Position X", "Position Y", "Position Z"]]
#dff = df.loc[["NO.270", "NO.271","NO.272","NO.273","NO.274","NO.275","NO.276","NO.277","NO.278","NO.279",'NO.280','NO.281'], ["Position X", "Position Y", "Position Z"]]
dff.sort_values("Position X", inplace=True, ascending=True)
dff

        Position X  Position Y  Position Z
Value
NO.270     47.0625    266.1909         0.0
NO.271     65.6793    273.4993         0.0
NO.272     83.0477    279.8883         0.0
NO.273    106.1021    288.5276         0.0
NO.274    122.0032    294.1664         0.0
NO.275    141.4029    301.1899         0.0
NO.276    160.5373    307.0066         0.0
NO.277    179.6717    312.8234         0.0
NO.278    198.9520    318.1393         0.0
NO.279    216.0298    329.8597         0.0
NO.280    239.2311    329.1174         0.0
NO.281    258.7624    333.4206         0.0
NO.282    278.3656    337.3834         0.0
NO.283    298.0348    341.0048         0.0
NO.284    317.7639    344.2835         0.0
NO.285    340.3451    347.0361         0.0
NO.286    356.7229    349.1298         0.0
NO.287    379.6301    351.8137         0.0
NO.288    399.5394    353.7132         0.0
NO.289    419.4788    355.2661         0.0
NO.290    440.8167    357.5250         0.0
NO.291    462.6052    359.0602         0.0
NO.292    480.0353    366.7762         0.0
NO.293    505.2317    360.0757         0.0
NO.294    523.4538    359.8154         0.0
NO.295    542.5891    359.0174         0.0
NO.296    562.5694    358.1375         0.0
NO.297    582.5315    356.9102         0.0
NO.298    602.4692    355.3359         0.0
NO.299    622.3765    353.4151         0.0

In [7]:
df1 = df.loc[df["Name"] == 'Circle']
df2 = df1.loc[df1["Radius"] == 2.5]
df2

,Name,Color,Layer,Length,Linetype,Linetype Scale,Lineweight,Material,Plot Style,Subject,...,Position X,Position Y,Position Z,Height,Obliquing,Rotation,Style,Width Factor,Unnamed: 70,Unnamed: 71
Value,,,,,,,,,,,,,,,,,,,,,
NaN,Circle,white,D-BMK,NaN,USER_12,1.0,0.18 mm,ByLayer,Color_7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Circle,white,D-BMK,NaN,USER_12,1.0,0.18 mm,ByLayer,Color_7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Circle,white,D-BMK,NaN,USER_12,1.0,0.18 mm,ByLayer,Color_7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Circle,white,D-BMK,NaN,USER_12,1.0,0.18 mm,ByLayer,Color_7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Circle,white,D-BMK-HTXT,NaN,USER_12,1.0,0.18 mm,ByLayer,Color_7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Circle,white,D-BMK,NaN,USER_12,1.0,0.18 mm,ByLayer,Color_7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Circle,white,D-BMK,NaN,USER_12,1.0,0.18 mm,ByLayer,Color_7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df22 = df2.loc[df2["Name"] == "Circle", ["Center X", "Center Y", "Center Z"]]
df22.sort_values("Center X", inplace=True, ascending=True)
df22

       Center X  Center Y  Center Z
Value
NaN     55.0058  248.6300       0.0
NaN    148.9235  282.9196       0.0
NaN    245.2960  309.4909       0.0
NaN    343.6120  327.5921       0.0
NaN    443.1287  337.0865       0.0
NaN    543.0938  337.9023       0.0
NaN    642.7521  330.0334       0.0

# Measuring the shortest distance between the Circles-centers and the Tags, 
## Here, we do Euclidean distance similarity measure to find the pair (Tag-number, corresponding-road-centerline-point)
## We also extract the pair (Tag-Number, corresponding-circle-along-road-centerline)
## for each pair (Circle,tag), we choose the shortest distance.

In [9]:
rrx = df22["Center X"]
rry = df22["Center Y"]
rrrx = dff["Position X"]
rrry = dff["Position Y"]
rrrr0 = dff.index
import math
fel=[]
for i, j in zip(rrx,rry):
    for m, n, k in zip(rrrx,rrry,rrrr0):
        f= math.sqrt((j-n)**2 + (i-m)**2)
        fel.append([i,j,m,n,k,f])
fel

[[55.0058, 248.63, 47.0625, 266.1909, 'NO.270', 19.273848180890088],
 [55.0058, 248.63, 65.6793, 273.4993, 'NO.271', 27.06299474817967],
 [55.0058, 248.63, 83.0477, 279.8883, 'NO.272', 41.993207480496196],
 [55.0058, 248.63, 106.1021, 288.5276, 'NO.273', 64.82785172632208],
 [55.0058, 248.63, 122.0032, 294.1664, 'NO.274', 81.00750170027466],
 [55.0058, 248.63, 141.4029, 301.1899, 'NO.275', 101.12864073258378],
 [55.0058, 248.63, 160.5373, 307.0066, 'NO.276', 120.60151292504584],
 [55.0058, 248.63, 179.6717, 312.8234, 'NO.277', 140.22260597482133],
 [55.0058, 248.63, 198.952, 318.1393, 'NO.278', 159.85009002477915],
 [55.0058, 248.63, 216.0298, 329.8597, 'NO.279', 180.35241262065222],
 [55.0058, 248.63, 239.2311, 329.1174, 'NO.280', 201.04025148922292],
 [55.0058, 248.63, 258.7624, 333.4206, 'NO.281', 220.69480712495255],
 [55.0058, 248.63, 278.3656, 337.3834, 'NO.282', 240.34717861377112],
 [55.0058, 248.63, 298.0348, 341.0048, 'NO.283', 259.9926893511431],
 [55.0058, 248.63, 317.7639, 344.2835, 'NO.284', 279.62727187786953],
 [55.0058, 248.63, 340.3451, 347.0361, 'NO.285', 301.83153685739995],
 [55.0058, 248.63, 356.7229, 349.1298, 'NO.286', 318.01480819680387],
 [55.0058, 248.63, 379.6301, 351.8137, 'NO.287', 340.62855443456294],
 [55.0058, 248.63, 399.5394, 353.7132, 'NO.288', 360.20255475384954],
 [55.0058, 248.63, 419.4788, 355.2661, 'NO.289', 379.7523213256372],
 [55.0058, 248.63, 440.8167, 357.525, 'NO.290', 400.88423713562247],
 [55.0058, 248.63, 462.6052, 359.0602, 'NO.291', 422.2938549782604],
 [55.0058, 248.63, 480.0353, 366.7762, 'NO.292', 441.14464798373103],
 [55.0058, 248.63, 505.2317, 360.0757, 'NO.293', 463.81408460642933],
 [55.0058, 248.63, 523.4538, 359.8154, 'NO.294', 481.4620669140612],
 [55.0058, 248.63, 542.5891, 359.0174, 'NO.295', 499.9228465649975],
 [55.0058, 248.63, 562.5694, 358.1375, 'NO.296', 519.2424295078455],
 [55.0058, 248.63, 582.5315, 356.9102, 'NO.297', 538.5238767896277],
 [55.0058, 248.63, 602.4692, 355.3359, 'NO.298', 557.7654735051015],
 [55.0058, 248.63, 622.3765, 353.4151, 'NO.299', 576.9657081668719],
 [148.9235, 282.9196, 47.0625, 266.1909, 'NO.270', 103.2255429856874],
 [148.9235, 282.9196, 65.6793, 273.4993, 'NO.271', 83.77552677082967],
 [148.9235, 282.9196, 83.0477, 279.8883, 'NO.272', 65.94550633159167],
 [148.9235, 282.9196, 106.1021, 288.5276, 'NO.273', 43.187057806245605],
 [148.9235, 282.9196, 122.0032, 294.1664, 'NO.274', 29.175213149692656],
 [148.9235, 282.9196, 141.4029, 301.1899, 'NO.275', 19.75761337940392],
 [148.9235, 282.9196, 160.5373, 307.0066, 'NO.276', 26.740679113291034],
 [148.9235, 282.9196, 179.6717, 312.8234, 'NO.277', 42.89159658581153],
 [148.9235, 282.9196, 198.952, 318.1393, 'NO.278', 61.18233470814921],
 [148.9235, 282.9196, 216.0298, 329.8597, 'NO.279', 81.89400764219565],
 [148.9235, 282.9196, 239.2311, 329.1174, 'NO.280', 101.43815526023725],
 [148.9235, 282.9196, 258.7624, 333.4206, 'NO.281', 120.89224521949289],
 [148.9235, 282.9196, 278.3656, 337.3834, 'NO.282', 140.4334816304502],
 [148.9235, 282.9196, 298.0348, 341.0048, 'NO.283', 160.02521753376874],
 [148.9235, 282.9196, 317.7639, 344.2835, 'NO.284', 179.64578730204056],
 [148.9235, 282.9196, 340.3451, 347.0361, 'NO.285', 201.87410561736243],
 [148.9235, 282.9196, 356.7229, 349.1298, 'NO.286', 218.09259782120068],
 [148.9235, 282.9196, 379.6301, 351.8137, 'NO.287', 240.77361213050324],
 [148.9235, 282.9196, 399.5394, 353.7132, 'NO.288', 260.4228544766569],
 [148.9235, 282.9196, 419.4788, 355.2661, 'NO.289', 280.06104052570396],
 [148.9235, 282.9196, 440.8167, 357.525, 'NO.290', 301.27662689860296],
 [148.9235, 282.9196, 462.6052, 359.0602, 'NO.291', 322.79033424693813],
 [148.9235, 282.9196, 480.0353, 366.7762, 'NO.292', 341.56544535827976],
 [148.9235, 282.9196, 505.2317, 360.0757, 'NO.293', 364.5663137955151],
 [148.9235, 282.9196, 523.4538, 359.8154, 'NO.294', 382.34266002596416],
 [148.9235, 282.9196, 542.5891, 359.0174, 'NO.295', 400.9532139641732],
 [148.9235, 282.9196, 562.5694, 358.1375, 'NO.296', 420.42914155327054],
 [148.9235, 282.9196, 582.5315, 356.9102, 'NO.297', 439.8755580301775],
 [148.9235, 282.9196, 602.4692, 355.3359, 'NO.298', 459.2905643426392],
 [148.9235, 282.9196, 622.3765, 353.4151, 'NO.299', 478.67249631585264],
 [245.296, 309.4909, 47.0625, 266.1909, 'NO.270', 202.90739395657812],
 [245.296, 309.4909, 65.6793, 273.4993, 'NO.271', 183.18721076933835],
 [245.296, 309.4909, 83.0477, 279.8883, 'NO.272', 164.92672548635042],
 [245.296, 309.4909, 106.1021, 288.5276, 'NO.273', 140.7636378618427],
 [245.296, 309.4909, 122.0032, 294.1664, 'NO.274', 124.24151814948976],
 [245.296, 309.4909, 141.4029, 301.1899, 'NO.275', 104.22419502500368],
 [245.296, 309.4909, 160.5373, 307.0066, 'NO.276', 84.79509993024362],
 [245.296, 309.4909, 179.6717, 312.8234, 'NO.277', 65.70886018445306],
 [245.296, 309.4909, 198.952, 318.1393, 'NO.278', 47.14404690477897],
 [245.296, 309.4909, 216.0298, 329.8597, 'NO.279', 35.65667505362774],
 [245.296, 309.4909, 239.2311, 329.1174, 'NO.280', 20.54221298351272],
 [245.296, 309.4909, 258.7624, 333.4206, 'NO.281', 27.458595576795236],
 [245.296, 309.4909, 278.3656, 337.3834, 'NO.282', 43.26187698667266],
 [245.296, 309.4909, 298.0348, 341.0048, 'NO.283', 61.437015867065035],
 [245.296, 309.4909, 317.7639, 344.2835, 'NO.284', 80.38732204253353],
 [245.296, 309.4909, 340.3451, 347.0361, 'NO.285', 102.19576044949223],
 [245.296, 309.4909, 356.7229, 349.1298, 'NO.286', 118.26747835656256],
 [245.296, 309.4909, 379.6301, 351.8137, 'NO.287', 140.84342307204128],
 [245.296, 309.4909, 399.5394, 353.7132, 'NO.288', 160.4575902251121],
 [245.296, 309.4909, 419.4788, 355.2661, 'NO.289', 180.09724248549725],
 [245.296, 309.4909, 440.8167, 357.525, 'NO.290', 201.33459437289957],
 [245.296, 309.4909, 462.6052, 359.0602, 'NO.291', 222.89101351810936],
 [245.296, 309.4909, 480.0353, 366.7762, 'NO.292', 241.62811210738704],
 [245.296, 309.4909, 505.2317, 360.0757, 'NO.293', 264.81199014683983],
 [245.296, 309.4909, 523.4538, 359.8154, 'NO.294', 282.6735166249042],
 [245.296, 309.4909, 542.5891, 359.0174, 'NO.295', 301.3902146883007],
 [245.296, 309.4909, 562.5694, 358.1375, 'NO.296', 320.9811552710221],
 [245.296, 309.4909, 582.5315, 356.9102, 'NO.297', 340.5530391477075],
 [245.296, 309.4909, 602.4692, 355.3359, 'NO.298', 360.10340018283637],
 [245.296, 309.4909, 622.3765, 353.4151, 'NO.299', 379.63013424370035],
 [343.61199999999997,
  327.5921,
  47.0625,
  266.1909,
  'NO.270',
  302.8394183584594],
 [343.61199999999997,
  327.5921,
  65.6793,
  273.4993,
  'NO.271',
  283.1476942182825],
 [343.61199999999997,
  327.5921,
  83.0477,
  279.8883,
  'NO.272',
  264.89508672100726],
 [343.61199999999997,
  327.5921,
  106.1021,
  288.5276,
  'NO.273',
  240.70103397837738],
 [343.61199999999997,
  327.5921,
  122.0032,
  294.1664,
  'NO.274',
  224.11545608888733],
 [343.61199999999997,
  327.5921,
  141.4029,
  301.1899,
  'NO.275',
  203.9254674817493],
 [343.61199999999997,
  327.5921,
  160.5373,
  307.0066,
  'NO.276',
  184.22841417745525],
 [343.61199999999997,
  327.5921,
  179.6717,
  312.8234,
  'NO.277',
  164.60418118559443],
 [343.61199999999997,
  327.5921,
  198.952,
  318.1393,
  'NO.278',
  144.9685173678754],
 [343.61199999999997,
  327.5921,
  216.0298,
  329.8597,
  'NO.279',
  127.602350160959],
 [343.61199999999997,
  327.5921,
  239.2311,
  329.1174,
  'NO.280',
  104.39204387739514],
 [343.61199999999997,
  327.5921,
  258.7624,
  333.4206,
  'NO.281',
  85.04955045389713],
 [343.61199999999997,
  327.5921,
  278.3656,
  337.3834,
  'NO.282',
  65.97698287016465],
 [343.61199999999997,
  327.5921,
  298.0348,
  341.0048,
  'NO.283',
  47.50980615757125],
 [343.61199999999997,
  327.5921,
  317.7639,
  344.2835,
  'NO.284',
  30.768930881166458],
 [343.61199999999997,
  327.5921,
  340.3451,
  347.0361,
  'NO.285',
  19.716535486996648],
 [343.61199999999997,
  327.5921,
  356.7229,
  349.1298,
  'NO.286',
  25.21444467165595],
 [343.61199999999997,
  327.5921,
  379.6301,
  351.8137,
  'NO.287',
  43.404947116313856],
 [343.61199999999997,
  327.5921,
  399.5394,
  353.7132,
  'NO.288',
  61.72670358904646],
 [343.61199999999997,
  327.5921,
  419.4788,
  355.2661,
  'NO.289',
  80.75655774139956],
 [343.61199999999997,
  327.5921,
  440.8167,
  357.525,
  'NO.290',
  101.70905664934666],
 [343.61199999999997,
  327.5921,
  462.6052,
  359.0602,
  'NO.291',
  123.08380463671902],
 [343.61199999999997,
  327.5921,
  480.0353,
  366.7762,
  'NO.292',
  141.93910833769533],
 [343.61199999999997,
  327.5921,
  505.2317,
  360.0757,
  'NO.293',
  164.85178706052903],
 [343.61199999999997,
  327.5921,
  523.4538,
  359.8154,
  'NO.294',
  182.70581296206757],
 [343.61199999999997,
  327.5921,
  542.5891,
  359.0174,
  'NO.295',
  201.44338113847283],
 [343.61199999999997,
  327.5921,
  562.5694,
  358.1375,
  'NO.296',
  221.07773401208905],
 [343.61199999999997,
  327.5921,
  582.5315,
  356.9102,
  'NO.297',
  240.71160850249836],
 [343.61199999999997,
  327.5921,
  602.4692,
  355.3359,
  'NO.298',
  260.33971735077233],
 [343.61199999999997,
  327.5921,
  622.3765,
  353.4151,
  'NO.299',
  279.95798575723825],
 [443.1287, 337.0865, 47.0625, 266.1909, 'NO.270', 402.3613063924015],
 [443.1287, 337.0865, 65.6793, 273.4993, 'NO.271', 382.76805191159826],
 [443.1287, 337.0865, 83.0477, 279.8883, 'NO.272', 364.5956124862722],
 [443.1287, 337.0865, 106.1021, 288.5276, 'NO.273', 340.50682207082133],
 [443.1287, 337.0865, 122.0032, 294.1664, 'NO.274', 323.9810515049607],
 [443.1287, 337.0865, 141.4029, 301.1899, 'NO.275', 303.8536231102074],
 [443.1287, 337.0865, 160.5373, 307.0066, 'NO.276', 284.18778956522743],
 [443.1287, 337.0865, 179.6717, 312.8234, 'NO.277', 264.5718973561062],
 [443.1287, 337.0865, 198.952, 318.1393, 'NO.278', 244.91071273166062],
 [443.1287, 337.0865, 216.0298, 329.8597, 'NO.279', 227.2138574547116],
 [443.1287, 337.0865, 239.2311, 329.1174, 'NO.280', 204.0532720653359],
 [443.1287, 337.0865, 258.7624, 333.4206, 'NO.281', 184.40274238334956],
 [443.1287, 337.0865, 278.3656, 337.3834, 'NO.282', 164.7633675038842],
 [443.1287, 337.0865, 298.0348, 341.0048, 'NO.283', 145.14679773284698],
 [443.1287, 337.0865, 317.7639, 344.2835, 'NO.284', 125.57121440855782],
 [443.1287, 337.0865, 340.3451, 347.0361, 'NO.285', 103.2640449000522],
 [443.1287, 337.0865, 356.7229, 349.1298, 'NO.286', 87.24106457700982],
 [443.1287, 337.0865, 379.6301, 351.8137, 'NO.287', 65.18406723885825],
 [443.1287, 337.0865, 399.5394, 353.7132, 'NO.288', 46.65269796464077],
 [443.1287, 337.0865, 419.4788, 355.2661, 'NO.289', 29.82977750788631],
 [443.1287, 337.0865, 440.8167, 357.525, 'NO.290', 20.568850873347273],
 [443.1287, 337.0865, 462.6052, 359.0602, 'NO.291', 29.36285994142945],
 [443.1287, 337.0865, 480.0353, 366.7762, 'NO.292', 47.36639536264083],
 [443.1287, 337.0865, 505.2317, 360.0757, 'NO.293', 66.22149141811894],
 [443.1287, 337.0865, 523.4538, 359.8154, 'NO.294', 83.47888706265798],
 [443.1287, 337.0865, 542.5891, 359.0174, 'NO.295', 101.84957311137839],
 [443.1287, 337.0865, 562.5694, 358.1375, 'NO.296', 121.28159554314084],
 [443.1287, 337.0865, 582.5315, 356.9102, 'NO.297', 140.80525462329175],
 [443.1287, 337.0865, 602.4692, 355.3359, 'NO.298', 160.38215468252696],
 [443.1287, 337.0865, 622.3765, 353.4151, 'NO.299', 179.9899913406298],
 [543.0938, 337.9023, 47.0625, 266.1909, 'NO.270', 501.18816373658507],
 [543.0938, 337.9023, 65.6793, 273.4993, 'NO.271', 481.73888281853476],
 [543.0938, 337.9023, 83.0477, 279.8883, 'NO.272', 463.6895926384481],
 [543.0938, 337.9023, 106.1021, 288.5276, 'NO.273', 439.7722215749649],
 [543.0938, 337.9023, 122.0032, 294.1664, 'NO.274', 423.3557869654907],
 [543.0938, 337.9023, 141.4029, 301.1899, 'NO.275', 403.36506970307926],
 [543.0938, 337.9023, 160.5373, 307.0066, 'NO.276', 383.80205832009295],
 [543.0938, 337.9023, 179.6717, 312.8234, 'NO.277', 364.28639007464994],
 [543.0938, 337.9023, 198.952, 318.1393, 'NO.278', 344.7087969232001],
 [543.0938, 337.9023, 216.0298, 329.8597, 'NO.279', 327.16287000630126],
 [543.0938, 337.9023, 239.2311, 329.1174, 'NO.280', 303.98966252045483],
 [543.0938, 337.9023, 258.7624, 333.4206, 'NO.281', 284.3667186237693],
 [543.0938, 337.9023, 278.3656, 337.3834, 'NO.282', 264.728708553587],
 [543.0938, 337.9023, 298.0348, 341.0048, 'NO.283', 245.07863837399208],
 [543.0938, 337.9023, 317.7639, 344.2835, 'NO.284', 225.42023766168379],
 [543.0938, 337.9023, 340.3451, 347.0361, 'NO.285', 202.95433391314901],
 [543.0938, 337.9023, 356.7229, 349.1298, 'NO.286', 186.7087815906365],
 [543.0938, 337.9023, 379.6301, 351.8137, 'NO.287', 164.05458929164396],
 [543.0938, 337.9023, 399.5394, 353.7132, 'NO.288', 144.4224716523367],
 [543.0938, 337.9023, 419.4788, 355.2661, 'NO.289', 124.82856153717385],
 [543.0938, 337.9023, 440.8167, 357.525, 'NO.290', 104.14247711524817],
 [543.0938, 337.9023, 462.6052, 359.0602, 'NO.291', 83.22302242991415],
 [543.0938, 337.9023, 480.0353, 366.7762, 'NO.292', 69.35471522153341],
 [543.0938, 337.9023, 505.2317, 360.0757, 'NO.293', 43.87708153432721],
 [543.0938, 337.9023, 523.4538, 359.8154, 'NO.294', 29.426409084528117],
 [543.0938, 337.9023, 542.5891, 359.0174, 'NO.295', 21.1211308906507],
 [543.0938, 337.9023, 562.5694, 358.1375, 'NO.296', 28.084912575972137],
 [543.0938, 337.9023, 582.5315, 356.9102, 'NO.297', 43.77936093297849],
 [543.0938, 337.9023, 602.4692, 355.3359, 'NO.298', 61.88189181109446],
 [543.0938, 337.9023, 622.3765, 353.4151, 'NO.299', 80.78609709058853],
 [642.7521, 330.0334, 47.0625, 266.1909, 'NO.270', 599.1009634063444],
 [642.7521, 330.0334, 65.6793, 273.4993, 'NO.271', 579.8354257568694],
 [642.7521, 330.0334, 83.0477, 279.8883, 'NO.272', 561.9462131141823],
 [642.7521, 330.0334, 106.1021, 288.5276, 'NO.273', 538.2526859511619],
 [642.7521, 330.0334, 122.0032, 294.1664, 'NO.274', 521.9826228335672],
 [642.7521, 330.0334, 141.4029, 301.1899, 'NO.275', 502.1782231766826],
 [642.7521, 330.0334, 160.5373, 307.0066, 'NO.276', 482.76427669959185],
 [642.7521, 330.0334, 179.6717, 312.8234, 'NO.277', 463.4000873588179],
 [642.7521, 330.0334, 198.952, 318.1393, 'NO.278', 443.9594557781375],
 [642.7521, 330.0334, 216.0298, 329.8597, 'NO.279', 426.7223353528381],
 [642.7521, 330.0334, 239.2311, 329.1174, 'NO.280', 403.52203966698033],
 [642.7521, 330.0334, 258.7624, 333.4206, 'NO.281', 384.00463907344925],
 [642.7521, 330.0334, 278.3656, 337.3834, 'NO.282', 364.4606204821723],
 [642.7521, 330.0334, 298.0348, 341.0048, 'NO.283', 344.8918504941078],
 [642.7521, 330.0334, 317.7639, 344.2835, 'NO.284', 325.3004695496919],
 [642.7521, 330.0334, 340.3451, 347.0361, 'NO.285', 302.8846074931673],
 [642.7521, 330.0334, 356.7229, 349.1298, 'NO.286', 286.66596544689435],
 [642.7521, 330.0334, 379.6301, 351.8137, 'NO.287', 264.0219088486598],
 [642.7521, 330.0334, 399.5394, 353.7132, 'NO.288', 244.36274341505094],
 [642.7521, 330.0334, 419.4788, 355.2661, 'NO.289', 224.6945830281185],
 [642.7521, 330.0334, 440.8167, 357.525, 'NO.290', 203.79816938265174],
 [642.7521, 330.0334, 462.6052, 359.0602, 'NO.291', 182.47043787378274],
 [642.7521, 330.0334, 480.0353, 366.7762, 'NO.292', 166.81363959245064],
 [642.7521, 330.0334, 505.2317, 360.0757, 'NO.293', 140.76363239647526],
 [642.7521, 330.0334, 523.4538, 359.8154, 'NO.294', 122.9595539471822],
 [642.7521, 330.0334, 542.5891, 359.0174, 'NO.295', 104.27223419971399],
 [642.7521, 330.0334, 562.5694, 358.1375, 'NO.296', 84.96532125579242],
 [642.7521, 330.0334, 582.5315, 356.9102, 'NO.297', 65.94606161553546],
 [642.7521, 330.0334, 602.4692, 355.3359, 'NO.298', 47.570248461196876],
 [642.7521, 330.0334, 622.3765, 353.4151, 'NO.299', 31.01401248226363]]

In [10]:
from pandas import DataFrame
d1 = pd.DataFrame(fel, columns=['CX','CY','TX','TY','TG','Dis'])
d11 = d1[:30]
d110 = d11.sort_values(by='Dis', ascending=True)
d11out=d110[:1]
d11out

        CX      CY       TX        TY      TG        Dis
0  55.0058  248.63  47.0625  266.1909  NO.270  19.273848

In [11]:
d12 = d1[30:60]
d120 = d12.sort_values(by='Dis', ascending=True)
d12out= d120[:1]
d12out

          CX        CY        TX        TY      TG        Dis
35  148.9235  282.9196  141.4029  301.1899  NO.275  19.757613

In [12]:
d13 = d1[60:90]
d130 = d13.sort_values(by='Dis', ascending=True)
d13out = d130[:1]
d13out

         CX        CY        TX        TY      TG        Dis
70  245.296  309.4909  239.2311  329.1174  NO.280  20.542213

In [13]:
d14 = d1[90:120]
d140 = d14.sort_values(by='Dis', ascending=True)
d14out = d140[:1]
d14out

          CX        CY        TX        TY      TG        Dis
105  343.612  327.5921  340.3451  347.0361  NO.285  19.716535

In [14]:
d15 = d1[120:150]
d150 = d15.sort_values(by='Dis', ascending=True)
d15out = d150[:1]
d15out

           CX        CY        TX       TY      TG        Dis
140  443.1287  337.0865  440.8167  357.525  NO.290  20.568851

In [15]:
d16 = d1[150:180]
d160 = d16.sort_values(by='Dis', ascending=True)
d16out = d160[:1]
d16out

           CX        CY        TX        TY      TG        Dis
175  543.0938  337.9023  542.5891  359.0174  NO.295  21.121131

In [16]:
d17 = d1[180:210]
d170 = d17.sort_values(by='Dis', ascending=True)
d17out = d170[:1]
d17out

           CX        CY        TX        TY      TG        Dis
209  642.7521  330.0334  622.3765  353.4151  NO.299  31.014012

In [17]:
dframe =  [d11out,d12out,d13out,d14out,d15out,d16out,d17out]
fi = pd.concat(dframe)
fi.reset_index(drop=True, inplace=True)
fi.sort_values("CX", inplace=True, ascending=True)
fi.insert(0, 'GEO', 'Circle')
fi.set_index('GEO',inplace= True)
fi["P1"] = fi["CX"].map(str)+','+fi["CY"].map(str)
fi.insert(7, 'P2', '1.5')
fi

,CX,CY,TX,TY,TG,Dis,P1,P2
GEO,,,,,,,,
Circle,55.0058,248.6300,47.0625,266.1909,NO.270,19.273848,"55.0058,248.63",1.5
Circle,148.9235,282.9196,141.4029,301.1899,NO.275,19.757613,"148.9235,282.9196",1.5
Circle,245.2960,309.4909,239.2311,329.1174,NO.280,20.542213,"245.296,309.4909",1.5
Circle,343.6120,327.5921,340.3451,347.0361,NO.285,19.716535,"343.61199999999997,327.5921",1.5
Circle,443.1287,337.0865,440.8167,357.5250,NO.290,20.568851,"443.1287,337.0865",1.5
Circle,543.0938,337.9023,542.5891,359.0174,NO.295,21.121131,"543.0938,337.9023",1.5
Circle,642.7521,330.0334,622.3765,353.4151,NO.299,31.014012,"642.7521,330.0334",1.5

In [18]:
fii = fi.drop(["CX", "CY", "TX",'TY','TG','Dis'], axis=1)
fii

                                 P1   P2
GEO
Circle               55.0058,248.63  1.5
Circle            148.9235,282.9196  1.5
Circle             245.296,309.4909  1.5
Circle  343.61199999999997,327.5921  1.5
Circle            443.1287,337.0865  1.5
Circle            543.0938,337.9023  1.5
Circle            642.7521,330.0334  1.5

In [19]:
fi.to_csv('/mnt/c/Users/CINPC0075/Desktop/Repo-KCIN3D-reconstruction/Inputs/plot_OUT1_183D1PLZ_平面図04.csv',index=False, header=False)

In [20]:
dl1 = df.loc[df["Name"] == 'Line']
dl2 = dl1.loc[dl1['Color'] == "red"]
dl3 = dl2.loc[dl2["Length"] == 5]
dl4 = dl3.loc[dl3['Name'] == "Line", ["End X", "End Y", "End Z",'Start X','Start Y','Start Z']]
dl4.reset_index(drop=True, inplace=True)
dl4.sort_values("End X", inplace=True, ascending=True)
dl4.insert(0, 'GEO', 'Line')
dl4.set_index('GEO',inplace= True)
dl4["P1"] = dl4["End X"].map(str)+','+dl4["End Y"].map(str)+','+dl4["End Z"].map(str)
dl4["P2"] = dl4["Start X"].map(str)+','+dl4["Start Y"].map(str)+','+dl4["Start Z"].map(str)
dl41 = dl4
dl5 = dl41
dl55= dl5[:30]
clinepointx = []
clinepointy = []
ran1 = dl55['End X'].astype(float)
ran2 = dl55['Start X'].astype(float)
ran3 = dl55['End Y'].astype(float)
ran4 = dl55['Start Y'].astype(float)
for ik,jk,kk,lk in zip(ran1,ran2,ran3,ran4):
    mnu = (ik+jk)/2
    mnv = (kk+lk)/2
    clinepointx.append(mnu)
    clinepointy.append(mnv)
dl55.insert(8, 'Cen X', clinepointx)
dl55.insert(9, 'Cen Y', clinepointy)
rown = pd.Series(row).str.replace('NO.', '', regex=False)
rowny = rown.values.tolist()
dl55.insert(10, 'Value', rowny)
dl55.drop(['P1','P2'], inplace=True, axis=1)
dl55

,End X,End Y,End Z,Start X,Start Y,Start Z,Cen X,Cen Y,Value
GEO,,,,,,,,,
Line,55.9285,246.3065,0.0,54.0831,250.9535,0.0,55.00580,248.63000,270
Line,74.5260,253.6073,0.0,72.7192,258.2694,0.0,73.62260,255.93835,271
Line,93.1864,260.7282,0.0,91.4300,265.4096,0.0,92.30820,263.06890,272
Line,111.9253,267.6219,0.0,110.2312,272.3261,0.0,111.07825,269.97400,273
Line,130.7564,274.2403,0.0,129.1368,278.9707,0.0,129.94660,276.60550,274
Line,149.6921,280.5407,0.0,148.1548,285.2985,0.0,148.92345,282.91960,275
Line,149.6921,280.5407,0.0,148.1548,285.2985,0.0,148.92345,282.91960,276
Line,168.7344,286.5108,0.0,167.2801,291.2946,0.0,168.00725,288.90270,277
Line,187.8777,292.1489,0.0,186.5068,296.9573,0.0,187.19225,294.55310,278
Line,207.1161,297.4532,0.0,205.8291,302.2847,0.0,206.47260,299.86895,279
Line,226.4439,302.4221,0.0,225.2411,307.2753,0.0,225.84250,304.84870,280
Line,245.8551,307.0542,0.0,244.7369,311.9276,0.0,245.29600,309.49090,281
Line,265.3440,311.3480,0.0,264.3107,316.2401,0.0,264.82735,313.79405,282
Line,284.9046,315.3023,0.0,283.9565,320.2115,0.0,284.43055,317.75690,283
Line,304.5310,318.9157,0.0,303.6684,323.8408,0.0,304.09970,321.37825,284
Line,324.2172,322.1873,0.0,323.4405,327.1266,0.0,323.82885,324.65695,285
Line,343.9574,325.1161,0.0,343.2667,330.0682,0.0,343.61205,327.59215,286
Line,363.7456,327.7011,0.0,363.1410,332.6645,0.0,363.44330,330.18280,287
Line,383.5757,329.9417,0.0,383.0575,334.9147,0.0,383.31660,332.42820,288
Line,403.4417,331.8370,0.0,403.0101,336.8183,0.0,403.22590,334.32765,289
Line,423.3377,333.3865,0.0,422.9929,338.3746,0.0,423.16530,335.88055,290
Line,443.2577,334.5899,0.0,442.9996,339.5832,0.0,443.12865,337.08655,291
Line,463.1956,335.4466,0.0,463.0244,340.4437,0.0,463.11000,337.94515,292
Line,463.1956,335.4466,0.0,463.0244,340.4437,0.0,463.11000,337.94515,293
Line,483.1453,335.9565,0.0,483.0610,340.9557,0.0,483.10315,338.45610,294
Line,503.1009,336.1193,0.0,503.1036,341.1193,0.0,503.10225,338.61930,295
Line,523.0564,335.9351,0.0,523.1460,340.9343,0.0,523.10120,338.43470,296
Line,543.0055,335.4039,0.0,543.1821,340.4008,0.0,543.09380,337.90235,297
Line,562.9425,334.5258,0.0,563.2059,339.5189,0.0,563.07420,337.02235,298
Line,582.8612,333.3012,0.0,583.2114,338.2889,0.0,583.03630,335.79505,299

In [21]:
dl4l= dl4[:30]
dl4l.insert(8, 'Value', row)
dl4l
#dl4l.Value.replace({'NO.':''},regex=True)

,End X,End Y,End Z,Start X,Start Y,Start Z,P1,P2,Value
GEO,,,,,,,,,
Line,55.9285,246.3065,0.0,54.0831,250.9535,0.0,"55.9285,246.3065,0.0","54.0831,250.9535,0.0",NO.270
Line,74.5260,253.6073,0.0,72.7192,258.2694,0.0,"74.52600000000001,253.6073,0.0","72.7192,258.2694,0.0",NO.271
Line,93.1864,260.7282,0.0,91.4300,265.4096,0.0,"93.1864,260.7282,0.0","91.43,265.4096,0.0",NO.272
Line,111.9253,267.6219,0.0,110.2312,272.3261,0.0,"111.9253,267.6219,0.0","110.2312,272.3261,0.0",NO.273
Line,130.7564,274.2403,0.0,129.1368,278.9707,0.0,"130.7564,274.2403,0.0","129.1368,278.9707,0.0",NO.274
Line,149.6921,280.5407,0.0,148.1548,285.2985,0.0,"149.6921,280.5407,0.0","148.1548,285.2985,0.0",NO.275
Line,149.6921,280.5407,0.0,148.1548,285.2985,0.0,"149.6921,280.5407,0.0","148.1548,285.2985,0.0",NO.276
Line,168.7344,286.5108,0.0,167.2801,291.2946,0.0,"168.7344,286.5108,0.0","167.2801,291.2946,0.0",NO.277
Line,187.8777,292.1489,0.0,186.5068,296.9573,0.0,"187.8777,292.1489,0.0","186.5068,296.9573,0.0",NO.278
Line,207.1161,297.4532,0.0,205.8291,302.2847,0.0,"207.1161,297.4532,0.0","205.8291,302.2847,0.0",NO.279
Line,226.4439,302.4221,0.0,225.2411,307.2753,0.0,"226.4439,302.4221,0.0","225.2411,307.2753,0.0",NO.280
Line,245.8551,307.0542,0.0,244.7369,311.9276,0.0,"245.8551,307.0542,0.0","244.7369,311.9276,0.0",NO.281
Line,265.3440,311.3480,0.0,264.3107,316.2401,0.0,"265.344,311.348,0.0","264.3107,316.2401,0.0",NO.282
Line,284.9046,315.3023,0.0,283.9565,320.2115,0.0,"284.9046,315.3023,0.0","283.9565,320.2115,0.0",NO.283
Line,304.5310,318.9157,0.0,303.6684,323.8408,0.0,"304.531,318.9157,0.0","303.6684,323.8408,0.0",NO.284
Line,324.2172,322.1873,0.0,323.4405,327.1266,0.0,"324.2172,322.1873,0.0","323.4405,327.1266,0.0",NO.285
Line,343.9574,325.1161,0.0,343.2667,330.0682,0.0,"343.9574,325.1161,0.0","343.2667,330.0682,0.0",NO.286
Line,363.7456,327.7011,0.0,363.1410,332.6645,0.0,"363.7456,327.7011,0.0","363.14099999999996,332.6645,0.0",NO.287
Line,383.5757,329.9417,0.0,383.0575,334.9147,0.0,"383.5757,329.9417,0.0","383.0575,334.9147,0.0",NO.288
Line,403.4417,331.8370,0.0,403.0101,336.8183,0.0,"403.4417,331.837,0.0","403.0101,336.8183,0.0",NO.289
Line,423.3377,333.3865,0.0,422.9929,338.3746,0.0,"423.3377,333.3865,0.0","422.9929,338.3746,0.0",NO.290
Line,443.2577,334.5899,0.0,442.9996,339.5832,0.0,"443.2577,334.5899,0.0","442.9996,339.5832,0.0",NO.291
Line,463.1956,335.4466,0.0,463.0244,340.4437,0.0,"463.1956,335.4466,0.0","463.0244,340.4437,0.0",NO.292
Line,463.1956,335.4466,0.0,463.0244,340.4437,0.0,"463.1956,335.4466,0.0","463.0244,340.4437,0.0",NO.293
Line,483.1453,335.9565,0.0,483.0610,340.9557,0.0,"483.1453,335.9565,0.0","483.061,340.9557,0.0",NO.294
Line,503.1009,336.1193,0.0,503.1036,341.1193,0.0,"503.1009,336.1193,0.0","503.1036,341.1193,0.0",NO.295
Line,523.0564,335.9351,0.0,523.1460,340.9343,0.0,"523.0564,335.9351,0.0","523.146,340.9343,0.0",NO.296
Line,543.0055,335.4039,0.0,543.1821,340.4008,0.0,"543.0055,335.4039,0.0","543.1821,340.4008,0.0",NO.297
Line,562.9425,334.5258,0.0,563.2059,339.5189,0.0,"562.9425,334.5258,0.0","563.2059,339.5189,0.0",NO.298
Line,582.8612,333.3012,0.0,583.2114,338.2889,0.0,"582.8612,333.3012,0.0","583.2114,338.2889,0.0",NO.299

In [22]:
dll4 = dl4.drop(["End X", "End Y", "End Z",'Start X','Start Y','Start Z'], axis=1)
dll4

                                  P1                               P2
GEO
Line            55.9285,246.3065,0.0             54.0831,250.9535,0.0
Line  74.52600000000001,253.6073,0.0             72.7192,258.2694,0.0
Line            93.1864,260.7282,0.0               91.43,265.4096,0.0
Line           111.9253,267.6219,0.0            110.2312,272.3261,0.0
Line           130.7564,274.2403,0.0            129.1368,278.9707,0.0
Line           149.6921,280.5407,0.0            148.1548,285.2985,0.0
Line           149.6921,280.5407,0.0            148.1548,285.2985,0.0
Line           168.7344,286.5108,0.0            167.2801,291.2946,0.0
Line           187.8777,292.1489,0.0            186.5068,296.9573,0.0
Line           207.1161,297.4532,0.0            205.8291,302.2847,0.0
Line           226.4439,302.4221,0.0            225.2411,307.2753,0.0
Line           245.8551,307.0542,0.0            244.7369,311.9276,0.0
Line             265.344,311.348,0.0            264.3107,316.2401,0.0
Line           284.9046,315.3023,0.0            283.9565,320.2115,0.0
Line            304.531,318.9157,0.0            303.6684,323.8408,0.0
Line           324.2172,322.1873,0.0            323.4405,327.1266,0.0
Line           343.9574,325.1161,0.0            343.2667,330.0682,0.0
Line           363.7456,327.7011,0.0  363.14099999999996,332.6645,0.0
Line           383.5757,329.9417,0.0            383.0575,334.9147,0.0
Line            403.4417,331.837,0.0            403.0101,336.8183,0.0
Line           423.3377,333.3865,0.0            422.9929,338.3746,0.0
Line           443.2577,334.5899,0.0            442.9996,339.5832,0.0
Line           463.1956,335.4466,0.0            463.0244,340.4437,0.0
Line           463.1956,335.4466,0.0            463.0244,340.4437,0.0
Line           483.1453,335.9565,0.0             483.061,340.9557,0.0
Line           503.1009,336.1193,0.0            503.1036,341.1193,0.0
Line           523.0564,335.9351,0.0             523.146,340.9343,0.0
Line           543.0055,335.4039,0.0            543.1821,340.4008,0.0
Line           562.9425,334.5258,0.0            563.2059,339.5189,0.0
Line           582.8612,333.3012,0.0            583.2114,338.2889,0.0
Line           602.7555,331.7304,0.0            603.1924,336.7112,0.0
Line           622.6195,329.8138,0.0             623.143,334.7863,0.0
Line           642.4472,327.5521,0.0            643.0571,332.5147,0.0

In [23]:
from openpyxl import Workbook
from openpyxl.utils.dataframe import dataframe_to_rows

wba = Workbook()
wsa = wba.active

for k in dataframe_to_rows(fii, index=True, header=True):
    wsa.append(k)

for cell in wsa['A'] + wsa[1]:
    cell.style = 'Pandas'

wba.save("/mnt/c/Users/CINPC0075/Desktop/Repo-KCIN3D-reconstruction/plot_OUT1_183D1PLZ_平面図04_EXCEL_2.xlsx")

## Elevation

In [24]:
dflv = pd.read_csv('/mnt/c/Users/CINPC0075/Desktop/Repo-KCIN3D-reconstruction/longi_187D1PFZ_縦断図03.csv',index_col=0)
dflv.head()

,Name,Author,Closed,Color,Comments,Drawing Revision Number,EdgeStyleId,FaceStyleId,File Accessed,File Created,...,Height,Obliquing,Position X,Position Y,Position Z,Rotation,Style,Value,Width Factor,Unnamed: 72
Count,,,,,,,,,,,,,,,,,,,,,
1,Line,NaN,NaN,white,NaN,NaN,0.0,0.0,22/04/2021 08:49,22/02/2021 13:37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Line,NaN,NaN,white,NaN,NaN,0.0,0.0,22/04/2021 08:49,22/02/2021 13:37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Line,NaN,NaN,white,NaN,NaN,0.0,0.0,22/04/2021 08:49,22/02/2021 13:37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Line,NaN,NaN,white,NaN,NaN,0.0,0.0,22/04/2021 08:49,22/02/2021 13:37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Line,NaN,NaN,white,NaN,NaN,0.0,0.0,22/04/2021 08:49,22/02/2021 13:37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
to_drop = ['Author','Closed', 'Comments', 'Drawing Revision Number', 'EdgeStyleId', 'FaceStyleId', 'File Accessed', 'File Created', 'File Last Saved By', 'File Location',
...            'File Modified','File Name', 'File Size', 'Fit/Smooth', 'Hyperlink', 'Hyperlink Base', 'Keywords']

dflv.drop(to_drop, inplace=True, axis=1)
dflv.head()

,Name,Color,Layer,Length,Linetype,Linetype Scale,Lineweight,Material,Plot Style,Subject,...,Height,Obliquing,Position X,Position Y,Position Z,Rotation,Style,Value,Width Factor,Unnamed: 72
Count,,,,,,,,,,,,,,,,,,,,,
1,Line,white,D-TTL-BAND,2.0,Continuous,1.0,0.13 mm,ByLayer,Color_7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Line,white,D-TTL-BAND,2.0,Continuous,1.0,0.13 mm,ByLayer,Color_7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Line,white,D-TTL-BAND,2.0,Continuous,1.0,0.13 mm,ByLayer,Color_7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Line,white,D-TTL-BAND,2.0,Continuous,1.0,0.13 mm,ByLayer,Color_7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Line,white,D-TTL-BAND,2.0,Continuous,1.0,0.13 mm,ByLayer,Color_7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
dflv.set_index("Value",inplace= True)
ref0 = dflv.loc[["高", "計","画"], ["Position X", "Position Y", "Position Z"]]

In [27]:
r1 = ref0['Position Y'].min()
r2 = ref0['Position Y'].max()

In [28]:
lm = dflv.loc[dflv["Position Y"]>(r1+8.491)]
lq = lm.loc[lm["Position Y"]<(r1+22.491)]
lz = lq.loc[:,["Position X","Position Y","Position Z"]]
lz.head

<bound method NDFrame.head of          Position X  Position Y  Position Z
Value
高           75.8862    168.5090         0.0
画           75.8862    162.0090         0.0
計           75.8862    155.5090         0.0
467.4      589.2620    162.5105         0.0
467.8      581.2620    162.5105         0.0
468.4      569.2620    162.5105         0.0
466.4      609.2620    162.5105         0.0
463.338    669.2620    162.5105         0.0
464.398    649.2620    162.5105         0.0
465.4      629.2620    162.5105         0.0
471.8      501.2620    162.5105         0.0
472.4      489.2620    162.5105         0.0
473.4      469.2620    162.5105         0.0
471.4      509.2620    162.5105         0.0
469.4      549.2620    162.5105         0.0
469.9      539.2620    162.5105         0.0
470.4      529.2620    162.5105         0.0
462.198    689.2620    162.5105         0.0
461        709.2620    162.5105         0.0
488.4      169.2620    162.5105         0.0
489.4      149.2620    162.5105         0.0
490.1      135.2620    162.5105         0.0
487.4      189.2620    162.5105         0.0
486.4      209.2620    162.5105         0.0
487        197.2620    162.5105         0.0
487.215    192.9700    162.5105         0.0
490.4      129.2620    162.5105         0.0
491.4      109.2620    162.5105         0.0
492.4       89.2620    162.5105         0.0
485.4      229.2620    162.5105         0.0
476.4      409.2620    162.5105         0.0
477.4      389.2620    162.5105         0.0
478.4      369.2620    162.5105         0.0
476        417.2620    162.5105         0.0
474.4      449.2620    162.5105         0.0
474.9      439.2620    162.5105         0.0
475.4      429.2620    162.5105         0.0
482.4      289.2620    162.5105         0.0
483.4      269.2620    162.5105         0.0
484.4      249.2620    162.5105         0.0
481.4      309.2620    162.5105         0.0
479.4      349.2620    162.5105         0.0
480.258    332.7620    162.5105         0.0
480.4      329.2620    162.5105         0.0>

In [29]:
dtemp1 = dflv.reset_index()
dtemp2 = dtemp1.dropna(subset=['Value'])
dtemp2

,Value,Name,Color,Layer,Length,Linetype,Linetype Scale,Lineweight,Material,Plot Style,...,TextDefinedSize,Height,Obliquing,Position X,Position Y,Position Z,Rotation,Style,Width Factor,Unnamed: 72
29,10,Text,white,D-TTL-BAND,NaN,Continuous,1.0,0.13 mm,NaN,Color_7,...,NaN,2.3065,0.0,439.262,74.5105,0.0,90.0,ＭＳ ゴシック,1,NaN
30,NO.279,Text,white,D-TTL-BAND,NaN,Continuous,1.0,0.13 mm,NaN,Color_7,...,NaN,2.3065,0.0,429.262,67.0090,0.0,90.0,ＭＳ ゴシック,1,NaN
31,8,Text,white,D-TTL-BAND,NaN,Continuous,1.0,0.13 mm,NaN,Color_7,...,NaN,2.3065,0.0,417.262,76.0103,0.0,90.0,ＭＳ ゴシック,1,NaN
32,NO.280,Text,white,D-TTL-BAND,NaN,Continuous,1.0,0.13 mm,NaN,Color_7,...,NaN,2.3065,0.0,449.262,67.0090,0.0,90.0,ＭＳ ゴシック,1,NaN
33,12,Text,white,D-TTL-BAND,NaN,Continuous,1.0,0.13 mm,NaN,Color_7,...,NaN,2.3065,0.0,501.262,74.5105,0.0,90.0,ＭＳ ゴシック,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
909,456.821,Text,white,D-TTL-BAND,NaN,Continuous,1.0,0.13 mm,NaN,Color_7,...,NaN,2.3065,0.0,329.262,140.5105,0.0,90.0,ＭＳ ゴシック,1,NaN
910,454.503,Text,white,D-TTL-BAND,NaN,Continuous,1.0,0.13 mm,NaN,Color_7,...,NaN,2.3065,0.0,369.262,140.5105,0.0,90.0,ＭＳ ゴシック,1,NaN
911,476.405,Text,white,D-TTL-BAND,NaN,Continuous,1.0,0.13 mm,NaN,Color_7,...,NaN,2.3065,0.0,417.262,140.5105,0.0,90.0,ＭＳ ゴシック,1,NaN
912,473.202,Text,white,D-TTL-BAND,NaN,Continuous,1.0,0.13 mm,NaN,Color_7,...,NaN,2.3065,0.0,409.262,140.5105,0.0,90.0,ＭＳ ゴシック,1,NaN
913,459.632,Text,white,D-TTL-BAND,NaN,Continuous,1.0,0.13 mm,NaN,Color_7,...,NaN,2.3065,0.0,389.262,140.5105,0.0,90.0,ＭＳ ゴシック,1,NaN

In [30]:
dtemp3 = dtemp2[dtemp2['Value'].str.contains('DL=')]
#dtemp3.loc[:, ["Position X", "Position Y", "Position Z"]]
dtemp4 = dtemp3.iat[0,0]
reflev = float(dtemp4.replace('DL=',''))
reflev

440.0

In [31]:
lz1 = lz.drop(["高", "計","画"])
lz2 = lz1.reset_index()
lz2.sort_values('Position X', inplace=True, ascending=True)
lz22 = lz2.loc[:,["Position X"]]
lz2['Value'] = lz2['Value'].astype(float)
lz3 = lz2['Value'] - reflev 
lz22.insert(0, 'TRUE ELEVATION', lz3)
lz22

    TRUE ELEVATION  Position X
25          52.400      89.262
24          51.400     109.262
23          50.400     129.262
18          50.100     135.262
17          49.400     149.262
16          48.400     169.262
19          47.400     189.262
22          47.215     192.970
21          47.000     197.262
20          46.400     209.262
26          45.400     229.262
36          44.400     249.262
35          43.400     269.262
34          42.400     289.262
37          41.400     309.262
40          40.400     329.262
39          40.258     332.762
38          39.400     349.262
29          38.400     369.262
28          37.400     389.262
27          36.400     409.262
30          36.000     417.262
33          35.400     429.262
32          34.900     439.262
31          34.400     449.262
9           33.400     469.262
8           32.400     489.262
7           31.800     501.262
10          31.400     509.262
13          30.400     529.262
12          29.900     539.262
11          29.400     549.262
2           28.400     569.262
1           27.800     581.262
0           27.400     589.262
3           26.400     609.262
6           25.400     629.262
5           24.398     649.262
4           23.338     669.262
14          22.198     689.262
15          21.000     709.262

In [32]:
b1 = lz22['Position X'].min()
b2 = lz22['Position X'].max()
print(b1,b2)

89.262 709.262

In [33]:
dtemp33 = dtemp2[dtemp2['Value'].str.contains('NO.')]
dtemp333 = dtemp33.loc[dtemp33['Position X']>= b1]
dtemp444 = dtemp333.loc[dtemp333['Position X']<= b2]
dtemp444.sort_values('Position X', inplace=True, ascending=True)
dTG0 = dtemp444.loc[:,['Value','Position X']]

dTG = dTG0.loc[dTG0["Value"].apply(len)<7]
dTG

      Value  Position X
200  NO.262      89.262
199  NO.263     109.262
202  NO.264     129.262
204  NO.265     149.262
203  NO.266     169.262
194  NO.267     189.262
195  NO.268     209.262
198  NO.269     229.262
197  NO.270     249.262
196  NO.271     269.262
117  NO.272     289.262
38   NO.273     309.262
37   NO.274     329.262
39   NO.275     349.262
42   NO.276     369.262
41   NO.277     389.262
40   NO.278     409.262
30   NO.279     429.262
32   NO.280     449.262
35   NO.281     469.262
34   NO.282     489.262
43   NO.283     509.262
53   NO.284     529.262
51   NO.285     549.262
54   NO.286     569.262
56   NO.287     589.262
55   NO.288     609.262
46   NO.289     629.262
45   NO.290     649.262
44   NO.291     669.262
47   NO.292     689.262
50   NO.293     709.262

In [34]:
dTG['Value'] = dTG.Value.str.replace(r'(NO.)', '')
z1 = lz22.set_index("Position X")
z2 = dTG.set_index("Position X")
dTGLEV=pd.merge(z1, z2, left_index=True, right_index=True, how='outer')
tt = dTGLEV.dropna()
#ttt = tt.reset_index(drop=True, inplace=True)
tt

            TRUE ELEVATION Value
Position X
89.262              52.400   262
109.262             51.400   263
129.262             50.400   264
149.262             49.400   265
169.262             48.400   266
189.262             47.400   267
209.262             46.400   268
229.262             45.400   269
249.262             44.400   270
269.262             43.400   271
289.262             42.400   272
309.262             41.400   273
329.262             40.400   274
349.262             39.400   275
369.262             38.400   276
389.262             37.400   277
409.262             36.400   278
429.262             35.400   279
449.262             34.400   280
469.262             33.400   281
489.262             32.400   282
509.262             31.400   283
529.262             30.400   284
549.262             29.400   285
569.262             28.400   286
589.262             27.400   287
609.262             26.400   288
629.262             25.400   289
649.262             24.398   290
669.262             23.338   291
689.262             22.198   292
709.262             21.000   293

In [35]:
dimi = tt.loc[tt['Value']>=str(270)]
dimit = dimi.loc[dimi['Value']<str(300)]
dimit

            TRUE ELEVATION Value
Position X
249.262             44.400   270
269.262             43.400   271
289.262             42.400   272
309.262             41.400   273
329.262             40.400   274
349.262             39.400   275
369.262             38.400   276
389.262             37.400   277
409.262             36.400   278
429.262             35.400   279
449.262             34.400   280
469.262             33.400   281
489.262             32.400   282
509.262             31.400   283
529.262             30.400   284
549.262             29.400   285
569.262             28.400   286
589.262             27.400   287
609.262             26.400   288
629.262             25.400   289
649.262             24.398   290
669.262             23.338   291
689.262             22.198   292
709.262             21.000   293

In [36]:
dimitri = dimit.rename(columns={"TRUE ELEVATION": "End Z", 'Value': "Value"})
dl5501 = dl55.loc[dl55['Value']<str(300)]
dimitri.reset_index()
dimitri.set_index('Value')
dl5501.reset_index()
dl5501.set_index('Value')
dfin = (dl5501.merge(dimitri, on='Value', how='left'))
dfin['Start Z'] = dfin["End Z_y"].add(dfin['Start Z'], fill_value=0)
dfinal = dfin.drop(['End Z_y', 'End Z_x'],axis=1)
dfinal.to_pickle("/mnt/c/Users/CINPC0075/Desktop/Repo-KCIN3D-reconstruction/dfinal.pkl")
dfinal

,End X,End Y,Start X,Start Y,Start Z,Cen X,Cen Y,Value
0,55.9285,246.3065,54.0831,250.9535,44.400,55.00580,248.63000,270
1,74.5260,253.6073,72.7192,258.2694,43.400,73.62260,255.93835,271
2,93.1864,260.7282,91.4300,265.4096,42.400,92.30820,263.06890,272
3,111.9253,267.6219,110.2312,272.3261,41.400,111.07825,269.97400,273
4,130.7564,274.2403,129.1368,278.9707,40.400,129.94660,276.60550,274
5,149.6921,280.5407,148.1548,285.2985,39.400,148.92345,282.91960,275
6,149.6921,280.5407,148.1548,285.2985,38.400,148.92345,282.91960,276
7,168.7344,286.5108,167.2801,291.2946,37.400,168.00725,288.90270,277
8,187.8777,292.1489,186.5068,296.9573,36.400,187.19225,294.55310,278
9,207.1161,297.4532,205.8291,302.2847,35.400,206.47260,299.86895,279
10,226.4439,302.4221,225.2411,307.2753,34.400,225.84250,304.84870,280
11,245.8551,307.0542,244.7369,311.9276,33.400,245.29600,309.49090,281
12,265.3440,311.3480,264.3107,316.2401,32.400,264.82735,313.79405,282
13,284.9046,315.3023,283.9565,320.2115,31.400,284.43055,317.75690,283
14,304.5310,318.9157,303.6684,323.8408,30.400,304.09970,321.37825,284
15,324.2172,322.1873,323.4405,327.1266,29.400,323.82885,324.65695,285
16,343.9574,325.1161,343.2667,330.0682,28.400,343.61205,327.59215,286
17,363.7456,327.7011,363.1410,332.6645,27.400,363.44330,330.18280,287
18,383.5757,329.9417,383.0575,334.9147,26.400,383.31660,332.42820,288
19,403.4417,331.8370,403.0101,336.8183,25.400,403.22590,334.32765,289
20,423.3377,333.3865,422.9929,338.3746,24.398,423.16530,335.88055,290
21,443.2577,334.5899,442.9996,339.5832,23.338,443.12865,337.08655,291
22,463.1956,335.4466,463.0244,340.4437,22.198,463.11000,337.94515,292
23,463.1956,335.4466,463.0244,340.4437,21.000,463.11000,337.94515,293
24,483.1453,335.9565,483.0610,340.9557,0.000,483.10315,338.45610,294
25,503.1009,336.1193,503.1036,341.1193,0.000,503.10225,338.61930,295
26,523.0564,335.9351,523.1460,340.9343,0.000,523.10120,338.43470,296
27,543.0055,335.4039,543.1821,340.4008,0.000,543.09380,337.90235,297
28,562.9425,334.5258,563.2059,339.5189,0.000,563.07420,337.02235,298
29,582.8612,333.3012,583.2114,338.2889,0.000,583.03630,335.79505,299

In [37]:
# LINE - PLANE-ST
dLINE = pd.read_pickle("/mnt/c/Users/CINPC0075/Desktop/Repo-KCIN3D-reconstruction/dfinal.pkl")
dLINE.insert(0, 'GEO', 'Line')
dLINE.set_index('GEO',inplace= True)
dLINE["P1"] = dLINE["End X"].map(str)+','+dLINE["End Y"].map(str)+','+dLINE["Start Z"].map(str)
dLINE["P2"] = dLINE["Start X"].map(str)+','+dLINE["Start Y"].map(str)+','+dLINE["Start Z"].map(str)
dLINE.drop(['End X', 'End Y', 'Start X','Start Y', 'Start Z','Cen X', 'Cen Y', "Value"], inplace=True, axis=1)
wb = Workbook()
ws = wb.active
for r in dataframe_to_rows(dLINE, index=True, header=True):
    ws.append(r)

for cell in ws['A'] + ws[1]:
    cell.style = 'Pandas'
wb.save("/mnt/c/Users/CINPC0075/Desktop/Repo-KCIN3D-reconstruction/plot_OUT1_183D1PLZ_平面図04_EXCEL_1.xlsx")
dLINE

,P1,P2
GEO,,
Line,"55.9285,246.3065,44.39999999999998","54.0831,250.9535,44.39999999999998"
Line,"74.52600000000001,253.6073,43.39999999999998","72.7192,258.2694,43.39999999999998"
Line,"93.1864,260.7282,42.39999999999998","91.43,265.4096,42.39999999999998"
Line,"111.9253,267.6219,41.39999999999998","110.2312,272.3261,41.39999999999998"
Line,"130.7564,274.2403,40.39999999999998","129.1368,278.9707,40.39999999999998"
Line,"149.6921,280.5407,39.39999999999998","148.1548,285.2985,39.39999999999998"
Line,"149.6921,280.5407,38.39999999999998","148.1548,285.2985,38.39999999999998"
Line,"168.7344,286.5108,37.39999999999998","167.2801,291.2946,37.39999999999998"
Line,"187.8777,292.1489,36.39999999999998","186.5068,296.9573,36.39999999999998"
Line,"207.1161,297.4532,35.39999999999998","205.8291,302.2847,35.39999999999998"
Line,"226.4439,302.4221,34.39999999999998","225.2411,307.2753,34.39999999999998"
Line,"245.8551,307.0542,33.39999999999998","244.7369,311.9276,33.39999999999998"
Line,"265.344,311.348,32.39999999999998","264.3107,316.2401,32.39999999999998"
Line,"284.9046,315.3023,31.399999999999977","283.9565,320.2115,31.399999999999977"
Line,"304.531,318.9157,30.399999999999977","303.6684,323.8408,30.399999999999977"
Line,"324.2172,322.1873,29.399999999999977","323.4405,327.1266,29.399999999999977"
Line,"343.9574,325.1161,28.399999999999977","343.2667,330.0682,28.399999999999977"
Line,"363.7456,327.7011,27.399999999999977","363.14099999999996,332.6645,27.399999999999977"
Line,"383.5757,329.9417,26.399999999999977","383.0575,334.9147,26.399999999999977"
Line,"403.4417,331.837,25.399999999999977","403.0101,336.8183,25.399999999999977"
Line,"423.3377,333.3865,24.398000000000025","422.9929,338.3746,24.398000000000025"
Line,"443.2577,334.5899,23.338000000000022","442.9996,339.5832,23.338000000000022"
Line,"463.1956,335.4466,22.19799999999998","463.0244,340.4437,22.19799999999998"
Line,"463.1956,335.4466,21.0","463.0244,340.4437,21.0"
Line,"483.1453,335.9565,0.0","483.061,340.9557,0.0"
Line,"503.1009,336.1193,0.0","503.1036,341.1193,0.0"
Line,"523.0564,335.9351,0.0","523.146,340.9343,0.0"
Line,"543.0055,335.4039,0.0","543.1821,340.4008,0.0"
Line,"562.9425,334.5258,0.0","563.2059,339.5189,0.0"
Line,"582.8612,333.3012,0.0","583.2114,338.2889,0.0"

In [38]:
# Road CentertLINE - Poly

dPLINE = pd.read_pickle("/mnt/c/Users/CINPC0075/Desktop/Repo-KCIN3D-reconstruction/dfinal.pkl")
#dPLINE.insert(0, 'GEO', 'Pline')
#dPLINE.set_index('GEO',inplace= True)
dPLINE["3DPOLY"] = dPLINE["Cen X"].map(str)+','+dPLINE["Cen Y"].map(str)+','+dPLINE["Start Z"].map(str)
dPLINE.reset_index
dPLINE.drop(['End X', 'End Y', 'Start X','Start Y', 'Start Z','Cen X', 'Cen Y', "Value"], inplace=True, axis=1)
dTEX = dPLINE.T
wbp = Workbook()
wsp = wbp.active

for rt in dataframe_to_rows(dTEX, index=True, header=False):
    wsp.append(rt)

for cell in wsp['A'] + wsp[1]:
    cell.style = 'Pandas'

wbp.save("/mnt/c/Users/CINPC0075/Desktop/Repo-KCIN3D-reconstruction/Demo1_OUT1_183D1PLZ_平面図04_EXCEL_Poly_center.xlsx")
dTEX

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
3DPOLY,"55.0058,248.63,44.39999999999998","73.6226,255.93835,43.39999999999998","92.3082,263.0689,42.39999999999998","111.07825,269.974,41.39999999999998","129.9466,276.6055,40.39999999999998","148.92345,282.9196,39.39999999999998","148.92345,282.9196,38.39999999999998","168.00725,288.9027,37.39999999999998","187.19225,294.5531,36.39999999999998","206.4726,299.86895,35.39999999999998",...,"423.1653,335.88054999999997,24.398000000000025","443.12865,337.08655,23.338000000000022","463.11,337.94515,22.19799999999998","463.11,337.94515,21.0","483.10315,338.4561,0.0","503.10225,338.6193,0.0","523.1012000000001,338.4347,0.0","543.0938,337.90235,0.0","563.0742,337.02234999999996,0.0","583.0363,335.79505,0.0"

In [39]:
import os
from openpyxl import load_workbook


def append_df_to_excel(filename, df, sheet_name='Sheet1', startrow=None,
                       truncate_sheet=False, 
                       **to_excel_kwargs):
    """
    Append a DataFrame [df] to existing Excel file [filename]
    into [sheet_name] Sheet.
    If [filename] doesn't exist, then this function will create it.

    @param filename: File path or existing ExcelWriter
                     (Example: '/path/to/file.xlsx')
    @param df: DataFrame to save to workbook
    @param sheet_name: Name of sheet which will contain DataFrame.
                       (default: 'Sheet1')
    @param startrow: upper left cell row to dump data frame.
                     Per default (startrow=None) calculate the last row
                     in the existing DF and write to the next row...
    @param truncate_sheet: truncate (remove and recreate) [sheet_name]
                           before writing DataFrame to Excel file
    @param to_excel_kwargs: arguments which will be passed to `DataFrame.to_excel()`
                            [can be a dictionary]
    @return: None

    Usage examples:

    >>> append_df_to_excel('d:/temp/test.xlsx', df)

    >>> append_df_to_excel('d:/temp/test.xlsx', df, header=None, index=False)

    >>> append_df_to_excel('d:/temp/test.xlsx', df, sheet_name='Sheet2',
                           index=False)

    >>> append_df_to_excel('d:/temp/test.xlsx', df, sheet_name='Sheet2', 
                           index=False, startrow=25)

    (c) [MaxU](https://stackoverflow.com/users/5741205/maxu?tab=profile)
    """
    # Excel file doesn't exist - saving and exiting
    if not os.path.isfile(filename):
        df.to_excel(
            filename,
            sheet_name=sheet_name, 
            startrow=startrow if startrow is not None else 0, 
            **to_excel_kwargs)
        return
    
    # ignore [engine] parameter if it was passed
    if 'engine' in to_excel_kwargs:
        to_excel_kwargs.pop('engine')

    writer = pd.ExcelWriter(filename, engine='openpyxl', mode='a')

    # try to open an existing workbook
    writer.book = load_workbook(filename)
    
    # get the last row in the existing Excel sheet
    # if it was not specified explicitly
    if startrow is None and sheet_name in writer.book.sheetnames:
        startrow = writer.book[sheet_name].max_row

    # truncate sheet
    if truncate_sheet and sheet_name in writer.book.sheetnames:
        # index of [sheet_name] sheet
        idx = writer.book.sheetnames.index(sheet_name)
        # remove [sheet_name]
        writer.book.remove(writer.book.worksheets[idx])
        # create an empty sheet [sheet_name] using old index
        writer.book.create_sheet(sheet_name, idx)
    
    # copy existing sheets
    writer.sheets = {ws.title:ws for ws in writer.book.worksheets}

    if startrow is None:
        startrow = 0

    # write out the new sheet
    df.to_excel(writer, sheet_name, startrow=startrow, **to_excel_kwargs)

    # save the workbook
    writer.save()

append_df_to_excel("/mnt/c/Users/CINPC0075/Desktop/Repo-KCIN3D-reconstruction/Demo1_OUT1_183D1PLZ_平面図04_EXCEL_1.xlsx", dTEX , sheet_name='Sheet', startrow=33, truncate_sheet=False)

In [40]:
# Python Program implement
# the above approach

# Function to generate determinant
def det(d):
	Sum = d[0][0] * ((d[1][1] * d[2][2])
					- (d[2][1] * d[1][2]))
	Sum -= d[0][1] * ((d[1][0] * d[2][2])
					- (d[1][2] * d[2][0]))
	Sum += d[0][2] * ((d[0][1] * d[1][2])
					- (d[0][2] * d[1][1]))

	# Return the sum
	return Sum

# Driver Code
if __name__ == '__main__':

	# Position vector of first line
	x1, y1, z1 = -3, 1, 5

	# Direction ratios of line to
	# which first line is parallel
	a1, b1, c1 = -3, 1, 5

	# Position vectors of second line
	x2, y2, z2 = -1, 2, 5

	# Direction ratios of line to
	# which second line is parallel
	a2, b2, c2 = -1, 2, 5

	# Determinant to check coplanarity
	det_list = [[x2-x1, y2-y1, z2-z1],
				[a1, b1, c1], [a2, b2, c2]]

	# If determinant is zero
	if(det(det_list) == 0):
		print("Lines are coplanar")

	# Otherwise
	else:
		print("Lines are non coplanar")

Lines are coplanar

In [41]:
import os
from pathlib import Path
# opening EXCEL through Code
					#local path in dir
absolutePath = Path('/mnt/c/Users/CINPC0075/Desktop/Repo-KCIN3D-reconstruction/Demo1_OUT1_183D1PLZ_平面図04_EXCEL_2.xlsx').resolve()
os.system(f'start excel.exe "{absolutePath}"')

32512

In [42]:
dassem = pd.read_pickle("/mnt/c/Users/CINPC0075/Desktop/Repo-KCIN3D-reconstruction/dfinal.pkl")
dassemb = pd.read_pickle("/mnt/c/Users/CINPC0075/Desktop/Repo-KCIN3D-reconstruction/dfinal.pkl")

clinepointeta = []
rana1 = dassem['End X'].astype(float)
rana2 = dassem['Cen X'].astype(float)
rana3 = dassem['End Y'].astype(float)
rana4 = dassem['Cen Y'].astype(float)
for iko,jko,kko,lko in zip(rana1,rana2,rana3,rana4):
    mnu = (iko-jko)
    mmu = (kko-lko)
    mnv = math.sqrt(mmu**2+mnu**2)
    teta = np.arccos(mnu/mnv)
    clinepointeta.append(teta)
dassem.insert(8, 'Teta', clinepointeta)
dassem.drop(['End X', 'End Y', 'Start X','Start Y'], inplace=True, axis=1)
dassem = dassem[['Cen X', 'Cen Y','Start Z','Teta']]
dassemb.drop(['Cen X', 'Cen Y', 'Start X','Start Y','Value'], inplace=True, axis=1)
dassemb = dassemb[['End X', 'End Y','Start Z']]
dassemb
dassem

        Cen X      Cen Y  Start Z      Teta
0    55.00580  248.63000   44.400  1.192778
1    73.62260  255.93835   43.400  1.201068
2    92.30820  263.06890   42.400  1.211862
3   111.07825  269.97400   41.400  1.225130
4   129.94660  276.60550   40.400  1.240925
5   148.92345  282.91960   39.400  1.258273
6   148.92345  282.91960   38.400  1.258273
7   168.00725  288.90270   37.400  1.275669
8   187.19225  294.55310   36.400  1.293060
9   206.47260  299.86895   35.400  1.310464
10  225.84250  304.84870   34.400  1.327855
11  245.29600  309.49090   33.400  1.345251
12  264.82735  313.79405   32.400  1.362638
13  284.43055  317.75690   31.400  1.380018
14  304.09970  321.37825   30.400  1.397411
15  323.82885  324.65695   29.400  1.414825
16  343.61205  327.59215   28.400  1.432214
17  363.44330  330.18280   27.400  1.449582
18  383.31660  332.42820   26.400  1.466968
19  403.22590  334.32765   25.400  1.484368
20  423.16530  335.88055   24.398  1.501782
21  443.12865  337.08655   23.338  1.519153
22  463.11000  337.94515   22.198  1.536550
23  463.11000  337.94515   21.000  1.536550
24  483.10315  338.45610    0.000  1.553935
25  503.10225  338.61930    0.000  1.571336
26  523.10120  338.43470    0.000  1.588717
27  543.09380  337.90235    0.000  1.606124
28  563.07420  337.02235    0.000  1.623500
29  583.03630  335.79505    0.000  1.640894

In [43]:
il=0
uu_0 = dassem.loc[[il]].astype(float)
v = dassemb.loc[[il]].astype(float)
theta = uu_0['Teta']
u = uu_0[['Cen X', 'Cen Y','Start Z']]
uu=u.iloc[0].values
vv = v.iloc[0].values
N = uu-vv
uu

array([ 55.0058, 248.63  ,  44.4   ])

il = 0
uu_0 = dassem.loc[[il]].astype(float)
theta = uu_0['Teta']
u = uu_0[['Cen X', 'Cen Y','Start Z']]
u1 = u.loc[[il]].values
vv = dassemb.loc[[il]].astype(float).values
ww_0 = dassem.loc[[il]].astype(float)
w = ww_0[['Cen X', 'Cen Y','Start Z']]
w['Start Z'] = wT['Start Z']-wT['Start Z']
ww = w.loc[[il]].values
uu

def unitvector(df):
    dv = []
    for i in range(0,len(df)):
        matx = df.loc[[i]].astype(float).values
        dv.append(matx)
    return dv

cv = unitvector(dassem) 
cv

In [44]:
il = 1
ww_0 = dassem.loc[[il]].astype(float)
w = ww_0[['Cen X', 'Cen Y','Start Z']]
w['Start Z'] = w['Start Z']-w['Start Z']
ww = w.iloc[0].values
ww

array([ 73.6226 , 255.93835,   0.     ])

In [45]:
import os
import glob
import pandas as pd
import numpy as np
import math
from pyquaternion import Quaternion
from pandas import DataFrame
import openpyxl
from openpyxl import Workbook
from openpyxl import load_workbook
from openpyxl.utils.dataframe import dataframe_to_rows
from scipy.spatial.transform import Rotation as R
from pathlib import Path
import warnings
warnings.filterwarnings("ignore")

import xlsxwriter

inp = r'/mnt/c/Users/CINPC0075/Desktop/Repo-KCIN3D-reconstruction/For_UI_FS/Initial_Prototype_UI/Inputs/'
il = 1
for fileee in glob.glob(os.path.join(inp,"assem_271.csv")):
    dfr = pd.read_csv(fileee, error_bad_lines=False)
    to_drop = ['Author','Closed', 'Comments', 'Drawing Revision Number', 'EdgeStyleId', 'FaceStyleId', 'File Accessed', 'File Created', 'File Last Saved By', 'File Location',
           'File Modified','File Name', 'File Size', 'Fit/Smooth', 'Hyperlink', 'Hyperlink Base', 'Keywords']
    dfr.drop(to_drop, inplace=True, axis=1)
    ar = dfr.loc[dfr["Name"] == "Arc"]
    ar.loc[:,["Center X"]]
    lmn = dfr.loc[dfr["Name"]== "Line"]
    llm1 = lmn.loc[lmn["End X"]==lmn["Start X"]]
    mpa =0
    for xi in ar["Center X"]:
        for xii in llm1["End X"]:
            if xi == xii:
                mpa=xii
    
    dtemp10 = dfr.reset_index() 
    dtemp11 = dtemp10.dropna(subset=['Value'])
    dtemp33 = dtemp11[dtemp11['Value'].str.contains('DL=')]
    temp22 = dtemp33.iloc[0]['Position Y']
    temp33 = dtemp33.iloc[0]['Value']
    temp44 = float(temp33.replace('DL=',''))
    lq = lmn.loc[lmn["Color"]=="red"]
    lqz = lq.loc[:, ["End X", "End Y", "End Z", "Start X", "Start Y", "Start Z"]]
    lqx = lqz.sort_values(by= 'Start X', ascending=True)
    lqtest = lqx.loc[:,["End X", "End Y", "End Z", "Start X", "Start Y", "Start Z"]]
    #for 3D polyline half the road right
    
    lqhalfR = lqtest.loc[lqtest["Start X"]>= mpa]
    lqhalfR.loc[:, ["End X", "End Y", "End Z", "Start X", "Start Y", "Start Z"]]
    llq00 = lqhalfR.loc[:,["Start X", "Start Y", "Start Z"]]
    llqR = llq00.sort_values(by= 'Start X', ascending=True)
    
    lqhalfL= lqtest.loc[lqtest["Start X"]< mpa]
    lqhalfL.loc[:, ["End X", "End Y", "End Z", "Start X", "Start Y", "Start Z"]]
    llq0 = lqhalfL.loc[:,["Start X", "Start Y", "Start Z"]]
    llqL = llq0.sort_values(by= 'Start X', ascending=False)
                                          
    llqRR = lqhalfR.loc[:, ["End X", "End Y", "End Z", "Start X", "Start Y", "Start Z"]]
    f_row = llqR.iloc[[0]].values[0]
    translate = np.concatenate([f_row, f_row])
    llq_0 = llqRR.apply(lambda row: row - translate, axis=1)
    dassem_0 = dassem.loc[[il]].astype(float)                                          #added for testing the unit vectors
    
    dassem_1 = dassem_0.iloc[[0]].values[0]
    index = 3
    ao = np.delete(dassem_1, index)
    translate2 = np.concatenate([ao,ao])
    llq_1R = llq_0.apply(lambda row: row + translate2, axis=1)

    llqLL = lqhalfL.loc[:, ["End X", "End Y", "End Z", "Start X", "Start Y", "Start Z"]]
    f_rowL = llqL.iloc[[0]].values[0]
    translateL = np.concatenate([f_rowL, f_rowL])
    llqLL_1 = llqLL.sort_values(by= 'Start X', ascending=False)
    llq_0L = llqLL_1.apply(lambda row: row - translateL, axis=1)
    
    dassem_1L = dassem_0.iloc[[0]].values[0]
    index = 3
    aoL = np.delete(dassem_1L, index)
    translate2L = np.concatenate([aoL,aoL])
    llq_1L = llq_0L.apply(lambda row: row + translate2L, axis=1)
    
llq_1R

b'Skipping line 494: expected 73 fields, saw 74\nSkipping line 496: expected 73 fields, saw 74\n'

       End X      End Y  End Z  Start X    Start Y  Start Z
225  70.3726  255.87335   43.4  73.6226  255.93835     43.4
223  76.8726  255.87335   43.4  73.6226  255.93835     43.4
226  78.1226  255.84835   43.4  76.8726  255.87335     43.4
449  78.1226  255.70835   43.4  78.1226  255.84835     43.4
448  78.1726  255.65835   43.4  78.1226  255.70835     43.4
444  78.6326  255.36335   43.4  78.1326  255.36335     43.4
445  78.1326  255.36335   43.4  78.1326  255.26335     43.4
367  78.1726  255.42335   43.4  78.1726  255.65835     43.4
286  78.2026  255.39335   43.4  78.1726  255.42335     43.4
285  78.5626  255.39335   43.4  78.2026  255.39335     43.4
284  78.5926  255.42335   43.4  78.5626  255.39335     43.4
290  78.6426  255.70835   43.4  78.5926  255.65835     43.4
287  78.5926  255.65835   43.4  78.5926  255.42335     43.4
447  78.6326  255.26335   43.4  78.6326  255.36335     43.4
450  78.1326  255.26335   43.4  78.6326  255.26335     43.4
289  78.6426  255.84835   43.4  78.6426  255.70835     43.4
492  79.4451  255.92865   43.4  78.6426  255.84835     43.4
195  79.6226  255.94635   43.4  78.6426  255.84835     43.4
228  88.0226  262.94635   43.4  79.6226  255.94635     43.4
227  88.8726  262.90385   43.4  88.0226  262.94635     43.4
221  88.2226  262.93635   43.4  88.3226  263.03145     43.4
237  88.8326  262.87385   43.4  88.8326  262.90385     43.4
232  88.8426  262.86385   43.4  88.8326  262.87385     43.4
231  88.8475  262.68895   43.4  88.8426  262.86385     43.4
242  88.8326  262.90385   43.4  88.8726  262.90385     43.4
215  88.8726  263.00395   43.4  88.8726  262.90385     43.4
216  88.3226  263.03145   43.4  88.8726  263.00395     43.4
238  89.0226  262.66385   43.4  88.8726  262.66385     43.4
230  88.8475  262.68895   43.4  88.8726  262.66385     43.4
243  88.8726  262.90385   43.4  88.8890  262.73985     43.4
244  88.9288  262.70385   43.4  89.0226  262.70385     43.4
194  89.0226  262.70385   43.4  89.1164  262.70385     43.4
235  89.1977  262.68895   43.4  89.1726  262.66385     43.4
218  89.1726  263.00395   43.4  89.1726  262.90385     43.4
239  89.1562  262.73985   43.4  89.1726  262.90385     43.4
214  88.8726  262.66385   43.4  89.1726  262.66385     43.4
233  89.1977  262.68895   43.4  89.2026  262.86385     43.4
234  89.2026  262.86385   43.4  89.2126  262.87385     43.4
219  89.2126  262.87385   43.4  89.2126  262.90385     43.4
240  89.1726  262.90385   43.4  89.2126  262.90385     43.4
220  89.1726  263.00395   43.4  89.4842  263.01955     43.4
217  89.7147  263.21165   43.4  89.4842  263.01955     43.4
222  89.1726  262.90385   43.4  89.5226  262.92135     43.4
0    94.5072  267.07515   43.4  89.5226  262.92135     43.4
193  89.8709  263.21165   43.4  89.7147  263.21165     43.4
84   95.2754  267.71535   43.4  94.5072  267.07515     43.4

dassem_1L = dassem.iloc[[0]].values[0]
dassem_2L = dassem.iloc[[1]].values[0]
dassem_2L

In [46]:
llqLL = lqhalfL.loc[:, ["End X", "End Y", "End Z", "Start X", "Start Y", "Start Z"]]
f_rowL = llqL.iloc[[0]].values[0]
translateL = np.concatenate([f_rowL, f_rowL])
llqLL_1 = llqLL.sort_values(by= 'Start X', ascending=False)
llq_0L = llqLL_1.apply(lambda row: row - translateL, axis=1)
dassem_1L = dassem.iloc[[1]].values[0]
index = 3
aoL = np.delete(dassem_1L, index)
translate2L = np.concatenate([aoL,aoL])
llq_1L = llq_0L.apply(lambda row: row + translate2L, axis=1)
llq_1L

       End X      End Y  End Z  Start X    Start Y  Start Z
224  72.3726  255.91335   43.4  73.6226  255.93835     43.4
407  72.3226  255.72335   43.4  72.3726  255.77335     43.4
408  72.3726  255.77335   43.4  72.3726  255.91335     43.4
386  72.3626  255.42835   43.4  72.3626  255.32835     43.4
389  71.8626  255.42835   43.4  72.3626  255.42835     43.4
..       ...        ...    ...      ...        ...      ...
116   8.7817  297.66545   43.4   8.7817  297.69545     43.4
108   8.7917  297.65545   43.4   8.7817  297.66545     43.4
117   8.7817  297.69545   43.4   8.4717  297.71335     43.4
113   4.5364  300.99275   43.4   8.4717  297.71335     43.4
67    3.7681  301.63295   43.4   4.5364  300.99275     43.4

[97 rows x 6 columns]

In [47]:
r = R.from_quat([1, 1, np.sin(-np.pi/4), np.cos(-np.pi/4)])
r.as_rotvec()

array([ 1.45497912,  1.45497912, -1.0288256 ])

In [48]:
def PointRotate3D(p1, p2, p0, theta):
    from math import cos, sin, sqrt

    # Translate so axis is at origin    
    p = np.subtract(p0,p1)
    # Initialize point q
    q = (0.0,0.0,0.0)
    N = np.subtract(p2,p1)
    Nm = math.sqrt(N[0]**2+N[1]**2+N[2]**2)
    
    # Rotation axis unit vector
    n = (N[0]/Nm, N[1]/Nm, N[2]/Nm)

    # Matrix common factors     
    c = cos(theta)
    t = (1 - cos(theta))
    s = sin(theta)
    X = n[0]
    Y = n[1]
    Z = n[2]

    # Matrix 'M'
    d11 = t*X**2 + c
    d12 = t*X*Y - s*Z
    d13 = t*X*Z + s*Y
    d21 = t*X*Y + s*Z
    d22 = t*Y**2 + c
    d23 = t*Y*Z - s*X
    d31 = t*X*Z - s*Y
    d32 = t*Y*Z + s*X
    d33 = t*Z**2 + c

    #            |p.x|
    # Matrix 'M'*|p.y|
    #            |p.z|
    q0 = d11*p[0]+ d12*p[1]+ d13*p[2]
    q1 = d21*p[0]+ d22*p[1]+ d23*p[2]
    q2 = d31*p[0]+ d32*p[1]+ d33*p[2]
    
    q = (q0,q1,q2)

    # Translate axis and rotated point back to original location    
    return np.sum([[q],[p1]],axis=0)
    
#p1 = (51.7558,248.565,44.4)
p1= uu
p2= ww
#p2 = [55.0058,248.63,44.4]
p0 = ([51.7558,248.5650,44.4])
#theta = 1.34
PointRotate3D(p1, p2, p0, theta)

array([[ 53.44916962, 251.24147348,  45.55057947]])

# Hamilton Quaternion Translation 3D

In [49]:
def divide_chunks(l, n):
    for i in range(0, len(l), n):
        yield l[i:i + n]

def PointRotate3D(p1, p2, p0, theta):
    from math import cos, sin, sqrt

    # Translate so axis is at origin    
    p = np.subtract(p0,p1)
    # Initialize point q
    q = (0.0,0.0,0.0)
    N = np.subtract(p2,p1)
    Nm = math.sqrt(N[0]**2+N[1]**2+N[2]**2)
    
    # Rotation axis unit vector
    n = (N[0]/Nm, N[1]/Nm, N[2]/Nm)

    # Matrix common factors     
    c = cos(theta)
    t = (1 - cos(theta))
    s = sin(theta)
    X = n[0]
    Y = n[1]
    Z = n[2]

    # Matrix 'M'
    d11 = t*X**2 + c
    d12 = t*X*Y - s*Z
    d13 = t*X*Z + s*Y
    d21 = t*X*Y + s*Z
    d22 = t*Y**2 + c
    d23 = t*Y*Z - s*X
    d31 = t*X*Z - s*Y
    d32 = t*Y*Z + s*X
    d33 = t*Z**2 + c

    #            |p.x|
    # Matrix 'M'*|p.y|
    #            |p.z|
    q0 = d11*p[0]+ d12*p[1]+ d13*p[2]
    q1 = d21*p[0]+ d22*p[1]+ d23*p[2]
    q2 = d31*p[0]+ d32*p[1]+ d33*p[2]
    
    q = (q0,q1,q2)

    # Translate axis and rotated point back to original location    
    return np.sum([[q],[p1]],axis=0)

def GenerateAssembly(p1, p2, p3, ops):
    zami = []
    for x in ops:
        zi = list(divide_chunks(x, 3))
        for y in zi:
            p0 = y 
            zii = PointRotate3D(p1, p2, p0, theta).tolist()
            for z in zii:
                p00 = z
                ziii = PointRotate3D(p1, p3, p00, 90)
                ziiio = ziii.tolist()
                zami.append(ziiio)
    a = np.array(zami)
    mat=np.matrix(a)
    dtra = DataFrame(mat)
    dtra
    dtraO=dtra[dtra.index%2==0]
    dtraO.reset_index(drop=True, inplace=True)
    dtraE=dtra[dtra.index%2==1]
    dtraE.reset_index(drop=True, inplace=True)
    dtraRE = pd.concat([dtraO, dtraE], axis=1)
    return dtraRE

In [50]:
p1= uu
p2= ww
p3= vv
ops = llq_1R.to_numpy().tolist()

dud = GenerateAssembly(p1, p2, p3, ops)
append_df_to_excel("/mnt/c/Users/CINPC0075/Desktop/22.xlsx", dud , sheet_name='Sheet', startrow=1, truncate_sheet=False)

In [51]:
p1= uu
p2= ww
p3= vv
ops = llq_1L.to_numpy().tolist()

dod = GenerateAssembly(p1, p2, p3, ops)
append_df_to_excel("/mnt/c/Users/CINPC0075/Desktop/21.xlsx", dod , sheet_name='Sheet', startrow=1, truncate_sheet=False)

In [52]:
print(len(dassem)-1)
from os import path
import pathlib

29

In [151]:
inp = r'/mnt/c/Users/CINPC0075/Desktop/Repo-KCIN3D-reconstruction/For_UI_FS/Initial_Prototype_UI/Inputs/'
dani = len(dassem)
rangROVER = range(270,300,1)
landROVER = range(0,dani,1)
for i , il in zip(rangROVER,landROVER):
    fileee = pathlib.Path(inp+"assem_"+ str(i) + ".csv")
    if fileee.exists():
        fileee = fileee
    else:
        fileee = inp+"assem_"+ str(i+1) + ".csv"
    dfr = pd.read_csv(fileee, error_bad_lines=False, warn_bad_lines=False)
    to_drop = ['Author','Closed', 'Comments', 'Drawing Revision Number', 'EdgeStyleId', 'FaceStyleId', 'File Accessed', 'File Created', 'File Last Saved By', 'File Location',
           'File Modified','File Name', 'File Size', 'Fit/Smooth', 'Hyperlink', 'Hyperlink Base', 'Keywords']
    dfr.drop(to_drop, inplace=True, axis=1)
    ar = dfr.loc[dfr["Name"] == "Arc"]
    ar.loc[:,["Center X"]]
    lmn = dfr.loc[dfr["Name"]== "Line"]
    llm1 = lmn.loc[lmn["End X"]==lmn["Start X"]]
    mpa =0
    for xi in ar["Center X"]:
        for xii in llm1["End X"]:
            if xi == xii:
                mpa=xii

    dtemp10 = dfr.reset_index() 
    dtemp11 = dtemp10.dropna(subset=['Value'])
    dtemp33 = dtemp11[dtemp11['Value'].str.contains('DL=')]
    temp22 = dtemp33.iloc[0]['Position Y']
    temp33 = dtemp33.iloc[0]['Value']
    temp44 = float(temp33.replace('DL=',''))
    lq = lmn.loc[lmn["Color"]=="red"]
    lqz = lq.loc[:, ["End X", "End Y", "End Z", "Start X", "Start Y", "Start Z"]]
    lqx = lqz.sort_values(by= 'Start X', ascending=True)
    lqtest = lqx.loc[:,["End X", "End Y", "End Z", "Start X", "Start Y", "Start Z"]]
    #for 3D polyline half the road right
    
    lqhalfR = lqtest.loc[lqtest["Start X"]>= mpa]
    lqhalfR.loc[:, ["End X", "End Y", "End Z", "Start X", "Start Y", "Start Z"]]
    llq00 = lqhalfR.loc[:,["Start X", "Start Y", "Start Z"]]
    llqR = llq00.sort_values(by= 'Start X', ascending=True)
    
    lqhalfL= lqtest.loc[lqtest["Start X"]< mpa]
    lqhalfL.loc[:, ["End X", "End Y", "End Z", "Start X", "Start Y", "Start Z"]]
    llq0 = lqhalfL.loc[:,["Start X", "Start Y", "Start Z"]]
    llqL = llq0.sort_values(by= 'Start X', ascending=False)
                                          
    llqRR = lqhalfR.loc[:, ["End X", "End Y", "End Z", "Start X", "Start Y", "Start Z"]]
    f_row = llqR.iloc[[0]].values[0]
    translate = np.concatenate([f_row, f_row])
    llq_0 = llqRR.apply(lambda row: row - translate, axis=1)
    dassem_0 = dassem.loc[[il]].astype(float)                                          #added for testing the unit vectors
    
    dassem_1 = dassem_0.iloc[[0]].values[0]
    index = 3
    ao = np.delete(dassem_1, index)
    translate2 = np.concatenate([ao,ao])
    llq_1R = llq_0.apply(lambda row: row + translate2, axis=1)

    llqLL = lqhalfL.loc[:, ["End X", "End Y", "End Z", "Start X", "Start Y", "Start Z"]]
    f_rowL = llqL.iloc[[0]].values[0]
    translateL = np.concatenate([f_rowL, f_rowL])
    llqLL_1 = llqLL.sort_values(by= 'Start X', ascending=False)
    llq_0L = llqLL_1.apply(lambda row: row - translateL, axis=1)
    
    dassem_1L = dassem_0.iloc[[0]].values[0]
    index = 3
    aoL = np.delete(dassem_1L, index)
    translate2L = np.concatenate([aoL,aoL])
    llq_1L = llq_0L.apply(lambda row: row + translate2L, axis=1)

    uu_0 = dassem.loc[[il]].astype(float)
    v = dassemb.loc[[il]].astype(float)
    theta = uu_0['Teta']
    u = uu_0[['Cen X', 'Cen Y','Start Z']]
    uu=u.iloc[0].values
    vv = v.iloc[0].values
    
    ww_0 = dassem.loc[[il]].astype(float)
    w = ww_0[['Cen X', 'Cen Y','Start Z']]
    if  ww_0.iloc[0]["Start Z"]>0:
        w['Start Z'] = w['Start Z'] - w['Start Z']
    else:
        w['Start Z'] = w['Start Z'] - 1
    ww = w.iloc[0].values
    
    p1= uu
    p2= ww
    p3= vv
    opsR = llq_1R.to_numpy().tolist()
    opsL = llq_1L.to_numpy().tolist()
    dudi = GenerateAssembly(p1, p2, p3, opsR)
    dodi = GenerateAssembly(p1, p2, p3, opsL)
    
    dudi.columns=['X1', 'Y1', 'Z1','X2','Y2','Z2']
    dudi.insert(0, 'GEO', 'Line')
    dudi.set_index('GEO',inplace= True)
    dudi["P1"] = dudi["X1"].map(str)+','+dudi["Y1"].map(str)+','+dudi["Z1"].map(str)
    dudi["P2"] = dudi["X2"].map(str)+','+dudi["Y2"].map(str)+','+dudi["Z2"].map(str)
    dudi['q'] = '{Line}'
    dudi.drop(['X1', 'Y1', 'Z1','X2','Y2','Z2'], inplace=True, axis=1)
    
    dudi.to_pickle("/mnt/c/Users/CINPC0075/Desktop/test/tempo/"+ str(i)+".pkl") 
        
    dodi.columns=['X1', 'Y1', 'Z1','X2','Y2','Z2']
    dodi.insert(0, 'GEO', 'Line')
    dodi.set_index('GEO',inplace= True)
    dodi["P1"] = dodi["X1"].map(str)+','+dodi["Y1"].map(str)+','+dodi["Z1"].map(str)
    dodi["P2"] = dodi["X2"].map(str)+','+dodi["Y2"].map(str)+','+dodi["Z2"].map(str)
    dodi.drop(['X1', 'Y1', 'Z1','X2','Y2','Z2'], inplace=True, axis=1)
    
    dudi.to_pickle("/mnt/c/Users/CINPC0075/Desktop/test/tempo/"+ str(i)+str(i)+".pkl")
    
    moon1 = "/mnt/c/Users/CINPC0075/Desktop/test/"+ str(i)+"_L"+".xlsx"
    moon2 = "/mnt/c/Users/CINPC0075/Desktop/test/"+ str(i)+".xlsx"
    append_df_to_excel(moon1, dudi , sheet_name='Sheet', startrow=1, truncate_sheet=False)
    append_df_to_excel(moon2, dodi , sheet_name='Sheet', startrow=1, truncate_sheet=False)

In [129]:
viva1 = pd.read_pickle("/mnt/c/Users/CINPC0075/Desktop/test/tempo/270.pkl")
viva2 = pd.read_pickle("/mnt/c/Users/CINPC0075/Desktop/test/tempo/271.pkl")
#viva3 = pd.merge(viva1,viva2, on="GEO")
viva3 = pd.concat([viva1, viva2], axis=1)
moon3 = "/mnt/c/Users/CINPC0075/Desktop/test/3D_FACE.xlsx"
append_df_to_excel(moon3, viva3 , sheet_name='Sheet', startrow=1, truncate_sheet=False)
viva3.shape

(46, 4)

In [161]:
for i in range(294,299,1):
    viva1 = pd.read_pickle("/mnt/c/Users/CINPC0075/Desktop/test/tempo/"+str(i)+".pkl")
    viva2 = pd.read_pickle("/mnt/c/Users/CINPC0075/Desktop/test/tempo/"+str(i+1)+".pkl")
    viva2 = viva2[['P2','P1']]
    viva3 = pd.concat([viva1, viva2], axis=1)
    moon3 = "/mnt/c/Users/CINPC0075/Desktop/test/"+ "3D_FACE"+str(i)+".xlsx"
    append_df_to_excel(moon3, viva3 , sheet_name='Sheet', startrow=1, truncate_sheet=False)

# Surface Builder

In [99]:
inp = r'/mnt/c/Users/CINPC0075/Desktop/Repo-KCIN3D-reconstruction/For_UI_FS/Initial_Prototype_UI/Inputs/'
dani = len(dassem)
rangROVER = range(270,299,1)
landROVER = range(0,dani,1)
for i , il in zip(rangROVER,landROVER):
    fileee = pathlib.Path(inp+"assem_"+ str(i) + ".csv")
    fileeeUP = pathlib.Path(inp+"assem_"+ str(i+1) + ".csv")
        
    dfr = pd.read_csv(fileee, error_bad_lines=False, warn_bad_lines=False)
    dfrUP = pd.read_csv(fileeeUP, error_bad_lines=False, warn_bad_lines=False)
    
    to_drop = ['Author','Closed', 'Comments', 'Drawing Revision Number', 'EdgeStyleId', 'FaceStyleId', 'File Accessed', 'File Created', 'File Last Saved By', 'File Location',
           'File Modified','File Name', 'File Size', 'Fit/Smooth', 'Hyperlink', 'Hyperlink Base', 'Keywords']
    dfr.drop(to_drop, inplace=True, axis=1)
    dfrUP.drop(to_drop, inplace=True, axis=1)
    
    ar = dfr.loc[dfr["Name"] == "Arc"]
    ar.loc[:,["Center X"]]
    lmn = dfr.loc[dfr["Name"]== "Line"]
    llm1 = lmn.loc[lmn["End X"]==lmn["Start X"]]
    mpa =0
    for xi in ar["Center X"]:
        for xii in llm1["End X"]:
            if xi == xii:
                mpa=xii
                
    arUP = dfrUP.loc[dfrUP["Name"] == "Arc"]
    arUP.loc[:,["Center X"]]
    lmnUP = dfrUP.loc[dfrUP["Name"]== "Line"]
    llm1UP = lmnUP.loc[lmnUP["End X"]==lmnUP["Start X"]]
    mpaUP =0
    for xi in arUP["Center X"]:
        for xii in llm1UP["End X"]:
            if xi == xii:
                mpaUP=xii

    dtemp10 = dfr.reset_index() 
    dtemp11 = dtemp10.dropna(subset=['Value'])
    dtemp33 = dtemp11[dtemp11['Value'].str.contains('DL=')]
    temp22 = dtemp33.iloc[0]['Position Y']
    temp33 = dtemp33.iloc[0]['Value']
    temp44 = float(temp33.replace('DL=',''))
    lq = lmn.loc[lmn["Color"]=="red"]
    lqz = lq.loc[:, ["End X", "End Y", "End Z", "Start X", "Start Y", "Start Z"]]
    lqx = lqz.sort_values(by= 'Start X', ascending=True)
    lqtest = lqx.loc[:,["End X", "End Y", "End Z", "Start X", "Start Y", "Start Z"]]
    
    dtemp10UP = dfrUP.reset_index() 
    dtemp11UP = dtemp10UP.dropna(subset=['Value'])
    dtemp33UP = dtemp11UP[dtemp11UP['Value'].str.contains('DL=')]
    temp22UP = dtemp33UP.iloc[0]['Position Y']
    temp33UP = dtemp33UP.iloc[0]['Value']
    temp44UP = float(temp33UP.replace('DL=',''))
    lqUP = lmnUP.loc[lmnUP["Color"]=="red"]
    lqzUP = lqUP.loc[:, ["End X", "End Y", "End Z", "Start X", "Start Y", "Start Z"]]
    lqxUP = lqzUP.sort_values(by= 'Start X', ascending=True)
    lqtestUP = lqxUP.loc[:,["End X", "End Y", "End Z", "Start X", "Start Y", "Start Z"]]
    
     
    #for 3D polyline half the road right
    
    lqhalfR = lqtest.loc[lqtest["Start X"]>= mpa]
    lqhalfR.loc[:, ["End X", "End Y", "End Z", "Start X", "Start Y", "Start Z"]]
    llq00 = lqhalfR.loc[:,["Start X", "Start Y", "Start Z"]]
    llqR = llq00.sort_values(by= 'Start X', ascending=True)
    
    lqhalfRUP = lqtestUP.loc[lqtestUP["Start X"]>= mpaUP]
    lqhalfRUP.loc[:, ["End X", "End Y", "End Z", "Start X", "Start Y", "Start Z"]]
    llq00UP = lqhalfRUP.loc[:,["Start X", "Start Y", "Start Z"]]
    llqRUP = llq00UP.sort_values(by= 'Start X', ascending=True)
    
    
    lqhalfL= lqtest.loc[lqtest["Start X"]< mpa]
    lqhalfL.loc[:, ["End X", "End Y", "End Z", "Start X", "Start Y", "Start Z"]]
    llq0 = lqhalfL.loc[:,["Start X", "Start Y", "Start Z"]]
    llqL = llq0.sort_values(by= 'Start X', ascending=False)
    
    lqhalfLUP= lqtestUP.loc[lqtestUP["Start X"]< mpaUP]
    lqhalfLUP.loc[:, ["End X", "End Y", "End Z", "Start X", "Start Y", "Start Z"]]
    llq0UP = lqhalfLUP.loc[:,["Start X", "Start Y", "Start Z"]]
    llqLUP = llq0UP.sort_values(by= 'Start X', ascending=False)
    
                                        
    llqRR = lqhalfR.loc[:, ["End X", "End Y", "End Z", "Start X", "Start Y", "Start Z"]]
    f_row = llqR.iloc[[0]].values[0]
    translate = np.concatenate([f_row, f_row])
    llq_0 = llqRR.apply(lambda row: row - translate, axis=1)
    dassem_0 = dassem.loc[[il]].astype(float)                                          
    
    llqRRUP = lqhalfRUP.loc[:, ["End X", "End Y", "End Z", "Start X", "Start Y", "Start Z"]]
    f_rowUP = llqRUP.iloc[[0]].values[0]
    translateUP = np.concatenate([f_rowUP, f_rowUP])
    llq_0UP = llqRRUP.apply(lambda row: row - translateUP, axis=1)
    dassem_0UP = dassem.loc[[il+1]].astype(float) 
    
    
    dassem_1 = dassem_0.iloc[[0]].values[0]
    index = 3
    ao = np.delete(dassem_1, index)
    translate2 = np.concatenate([ao,ao])
    llq_1R = llq_0.apply(lambda row: row + translate2, axis=1)
    
    
    dassem_1UP = dassem_0UP.iloc[[0]].values[0]
    index = 3
    aoUP = np.delete(dassem_1UP, index)
    translate2UP = np.concatenate([aoUP,aoUP])
    llq_1RUP = llq_0UP.apply(lambda row: row + translate2UP, axis=1)

    llqLL = lqhalfL.loc[:, ["End X", "End Y", "End Z", "Start X", "Start Y", "Start Z"]]
    f_rowL = llqL.iloc[[0]].values[0]
    translateL = np.concatenate([f_rowL, f_rowL])
    llqLL_1 = llqLL.sort_values(by= 'Start X', ascending=False)
    llq_0L = llqLL_1.apply(lambda row: row - translateL, axis=1)
    
    llqLLUP = lqhalfLUP.loc[:, ["End X", "End Y", "End Z", "Start X", "Start Y", "Start Z"]]
    f_rowLUP = llqLUP.iloc[[0]].values[0]
    translateLUP = np.concatenate([f_rowLUP, f_rowLUP])
    llqLL_1UP = llqLLUP.sort_values(by= 'Start X', ascending=False)
    llq_0LUP = llqLL_1UP.apply(lambda row: row - translateLUP, axis=1)
    
    
    dassem_1L = dassem_0.iloc[[0]].values[0]
    index = 3
    aoL = np.delete(dassem_1L, index)
    translate2L = np.concatenate([aoL,aoL])
    llq_1L = llq_0L.apply(lambda row: row + translate2L, axis=1)
    
    dassem_1LUP = dassem_0UP.iloc[[0]].values[0]
    index = 3
    aoLUP = np.delete(dassem_1LUP, index)
    translate2LUP = np.concatenate([aoLUP,aoLUP])
    llq_1LUP = llq_0LUP.apply(lambda row: row + translate2LUP, axis=1)
    
    
    uu_0 = dassem.loc[[il]].astype(float)
    v = dassemb.loc[[il]].astype(float)
    theta = uu_0['Teta']
    u = uu_0[['Cen X', 'Cen Y','Start Z']]
    uu=u.iloc[0].values
    vv = v.iloc[0].values
    
    uu_0UP = dassem.loc[[il+1]].astype(float)
    vUP = dassemb.loc[[il+1]].astype(float)
    thetaUP = uu_0UP['Teta']
    uUP = uu_0UP[['Cen X', 'Cen Y','Start Z']]
    uuUP=uUP.iloc[0].values
    vvUP = vUP.iloc[0].values
    
       
    ww_0 = dassem.loc[[il]].astype(float)
    w = ww_0[['Cen X', 'Cen Y','Start Z']]
    if  ww_0.iloc[0]["Start Z"]>0:
        w['Start Z'] = w['Start Z'] - w['Start Z']
    else:
        w['Start Z'] = w['Start Z'] - 1
    ww = w.iloc[0].values
    
    ww_0UP = dassem.loc[[il+1]].astype(float)
    wUP = ww_0UP[['Cen X', 'Cen Y','Start Z']]
    if  ww_0UP.iloc[0]["Start Z"]>0:
        wUP['Start Z'] = wUP['Start Z'] - wUP['Start Z']
    else:
        wUP['Start Z'] = wUP['Start Z'] - 1
    wwUP = wUP.iloc[0].values
    
       
    p1= uu
    p2= ww
    p3= vv
    opsR = llq_1R.to_numpy().tolist()
    opsL = llq_1L.to_numpy().tolist()
    dudi = GenerateAssembly(p1, p2, p3, opsR)
    dodi = GenerateAssembly(p1, p2, p3, opsL)
    
    p11= uuUP
    p22= wwUP
    p33= vvUP
    opsRUP = llq_1RUP.to_numpy().tolist()
    opsLUP = llq_1LUP.to_numpy().tolist()
    dudiUP = GenerateAssembly(p11, p22, p33, opsRUP)
    dodiUP = GenerateAssembly(p11, p22, p33, opsLUP)
    
       
    dudi.columns=['X1', 'Y1', 'Z1','X2','Y2','Z2']
    dudi.insert(0, 'GEO', '3DFACE')
    dudi.set_index('GEO',inplace= True)
    dudi["P1"] = dudi["X1"].map(str)+','+dudi["Y1"].map(str)+','+dudi["Z1"].map(str)
    dudi["P2"] = dudi["X2"].map(str)+','+dudi["Y2"].map(str)+','+dudi["Z2"].map(str)
    dudi.drop(['X1', 'Y1', 'Z1','X2','Y2','Z2'], inplace=True, axis=1)
    
    dudiUP.columns=['X1', 'Y1', 'Z1','X2','Y2','Z2']
    dudiUP.insert(0, 'GEO', '3DFACE')
    dudiUP.set_index('GEO',inplace= True)
    dudiUP["P3"] = dudiUP["X1"].map(str)+','+dudiUP["Y1"].map(str)+','+dudiUP["Z1"].map(str)
    dudiUP["P4"] = dudiUP["X2"].map(str)+','+dudiUP["Y2"].map(str)+','+dudiUP["Z2"].map(str)
    dudiUP.drop(['X1', 'Y1', 'Z1','X2','Y2','Z2'], inplace=True, axis=1)
    du3FACE = pd.merge(dudi,dudiUP, on='GEO')
    
    
    dodi.columns=['X1', 'Y1', 'Z1','X2','Y2','Z2']
    dodi.insert(0, 'GEO', '3DFACE')
    dodi.set_index('GEO',inplace= True)
    dodi["P1"] = dodi["X1"].map(str)+','+dodi["Y1"].map(str)+','+dodi["Z1"].map(str)
    dodi["P2"] = dodi["X2"].map(str)+','+dodi["Y2"].map(str)+','+dodi["Z2"].map(str)
    dodi.drop(['X1', 'Y1', 'Z1','X2','Y2','Z2'], inplace=True, axis=1)
    
    dodiUP.columns=['X1', 'Y1', 'Z1','X2','Y2','Z2']
    dodiUP.insert(0, 'GEO', '3DFACE')
    dodiUP.set_index('GEO',inplace= True)
    dodiUP["P3"] = dodiUP["X1"].map(str)+','+dodiUP["Y1"].map(str)+','+dodiUP["Z1"].map(str)
    dodiUP["P4"] = dodiUP["X2"].map(str)+','+dodiUP["Y2"].map(str)+','+dodiUP["Z2"].map(str)
    dodiUP.drop(['X1', 'Y1', 'Z1','X2','Y2','Z2'], inplace=True, axis=1)
    do3FACE = pd.merge(dodi,dodiUP, on='GEO')
    
    moon1 = "/mnt/c/Users/CINPC0075/Desktop/test/"+ str(i)+"_L"+".xlsx"
    moon2 = "/mnt/c/Users/CINPC0075/Desktop/test/"+ str(i)+".xlsx"
    append_df_to_excel(moon1, du3FACE , sheet_name='Sheet', startrow=1, truncate_sheet=False)
    append_df_to_excel(moon2, do3FACE , sheet_name='Sheet', startrow=1, truncate_sheet=False)