In [98]:
import pandas as pd
import numpy as np

In [99]:
df = pd.read_csv('/mnt/c/Users/CINPC0075/Desktop/Repo-KCIN3D-reconstruction/Demo1_183D1PLZ_平面図04.csv',index_col=0)
df.head()

/home/shahab/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (4,9,10,20,25,42,44,46,47,49,50,52,67,68) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Name,Author,Closed,Color,Comments,Drawing Revision Number,EdgeStyleId,FaceStyleId,File Accessed,File Created,...,Position Y,Position Z,Height,Obliquing,Rotation,Style,Value,Width Factor,Unnamed: 70,Unnamed: 71
Count,,,,,,,,,,,,,,,,,,,,,
1,Line,NaN,NaN,51,51.0,51.0,NaN,NaN,0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Line,NaN,NaN,51,51.0,51.0,NaN,NaN,0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Line,NaN,NaN,51,51.0,51.0,NaN,NaN,0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Line,NaN,NaN,51,51.0,51.0,NaN,NaN,0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Line,NaN,NaN,51,51.0,51.0,NaN,NaN,0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
df.info()
print('----------------------------------',
     "---------------------------------------",
     '-------------------------------------')
df.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44705 entries, 1 to 160
Data columns (total 71 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Name                     44705 non-null  object
 1   Author                   0 non-null      float64
 2   Closed                   4400 non-null   object
 3   Color                    44705 non-null  object
 4   Comments                 39306 non-null  float64
 5   Drawing Revision Number  39306 non-null  float64
 6   EdgeStyleId              5399 non-null   float64
 7   FaceStyleId              5399 non-null   float64
 8   File Accessed            44705 non-null  object
 9   File Created             44705 non-null  object
 10  File Last Saved By       44705 non-null  object
 11  File Location            44705 non-null  object
 12  File Modified            44705 non-null  object
 13  File Name                44705 non-null  object
 14  File Size                44705 non-null  object
 15  Fit/Smooth               39914 non-null  object
 16  Hyperlink                39306 non-null  float64
 17  Hyperlink Base           3792 non-null   object
 18  Keywords                 0 non-null      float64
 19  Layer                    5399 non-null   object
 20  Length                   4117 non-null   float64
 21  Linetype                 44705 non-null  object
 22  Linetype Scale           40646 non-null  float64
 23  Lineweight               44705 non-null  object
 24  Material                 43848 non-null  object
 25  Plot Style               44705 non-null  object
 26  Subject                  37321 non-null  object
 27  Title                    39306 non-null  object
 28  Total Editing Time       5399 non-null   float64
 29  VisualStyleId            5399 non-null   float64
 30  Area                     40597 non-null  float64
 31  Center X                 40503 non-null  float64
 32  Center Y                 4764 non-null   float64
 33  Center Z                 4566 non-null   float64
 34  Radius                   4566 non-null   float64
 35  Start Angle              4141 non-null   float64
 36  Thickness                8065 non-null   float64
 37  Total Angle              2067 non-null   float64
 38  Circumference            35741 non-null  float64
 39  Diameter                 1720 non-null   float64
 40  Angle1                   2168 non-null   float64
 41  Associative              2168 non-null   object
 42  BackgroundColor          198 non-null    float64
 43  Double                   292 non-null    object
 44  Origin X                 94 non-null     float64
 45  Origin Y                 292 non-null    object
 46  Pattern Name             292 non-null    object
 47  Scale                    292 non-null    float64
 48  Spacing                  292 non-null    object
 49  Type                     292 non-null    object
 50  Angle                    2935 non-null   float64
 51  Delta X                  2935 non-null   object
 52  Delta Y                  32897 non-null  float64
 53  Delta Z                  32897 non-null  float64
 54  End X                    32897 non-null  float64
 55  End Y                    32897 non-null  float64
 56  End Z                    32897 non-null  float64
 57  Start X                  32897 non-null  float64
 58  Start Y                  32897 non-null  float64
 59  Start Z                  32897 non-null  float64
 60  Position X               30922 non-null  float64
 61  Position Y               30922 non-null  float64
 62  Position Z               2549 non-null   float64
 63  Height                   2507 non-null   float64
 64  Obliquing                2507 non-null   float64
 65  Rotation                 2507 non-null   float64
 66  Style                    2507 non-null   object
 67  Value                    2507 non-null   object
 68  Width Factor             2507 non-null   object
 69  Unnamed: 70              1788 non-null   object
 70  Unnamed: 71              1787 non-null   float64
dtypes: float64(41), object(30)
memory usage: 24.6+ MB
---------------------------------- --------------------------------------- -------------------------------------

(44705, 71)

In [101]:
to_drop = ['Author','Closed', 'Comments', 'Drawing Revision Number', 'EdgeStyleId', 'FaceStyleId', 'File Accessed', 'File Created', 'File Last Saved By', 'File Location',
...            'File Modified','File Name', 'File Size', 'Fit/Smooth', 'Hyperlink', 'Hyperlink Base', 'Keywords']
df.drop(to_drop, inplace=True, axis=1)
df.head()

,Name,Color,Layer,Length,Linetype,Linetype Scale,Lineweight,Material,Plot Style,Subject,...,Position Y,Position Z,Height,Obliquing,Rotation,Style,Value,Width Factor,Unnamed: 70,Unnamed: 71
Count,,,,,,,,,,,,,,,,,,,,,
1,Line,51,NaN,NaN,S-BGD-EXST,0.2311,Continuous,1,0.13 mm,ByLayer,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Line,51,NaN,NaN,S-BGD-EXST,0.2549,Continuous,1,0.13 mm,ByLayer,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Line,51,NaN,NaN,S-BGD-EXST,0.1370,Continuous,1,0.13 mm,ByLayer,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Line,51,NaN,NaN,S-BGD-EXST,0.1567,Continuous,1,0.13 mm,ByLayer,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Line,51,NaN,NaN,S-BGD-EXST,0.1567,Continuous,1,0.13 mm,ByLayer,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
df.set_index("Value",inplace= True)
df

,Name,Color,Layer,Length,Linetype,Linetype Scale,Lineweight,Material,Plot Style,Subject,...,Position X,Position Y,Position Z,Height,Obliquing,Rotation,Style,Width Factor,Unnamed: 70,Unnamed: 71
Value,,,,,,,,,,,,,,,,,,,,,
NaN,Line,51,NaN,NaN,S-BGD-EXST,0.2311,Continuous,1,0.13 mm,ByLayer,...,396.7315,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Line,51,NaN,NaN,S-BGD-EXST,0.2549,Continuous,1,0.13 mm,ByLayer,...,396.5130,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Line,51,NaN,NaN,S-BGD-EXST,0.1370,Continuous,1,0.13 mm,ByLayer,...,395.4753,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Line,51,NaN,NaN,S-BGD-EXST,0.1567,Continuous,1,0.13 mm,ByLayer,...,395.6385,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Line,51,NaN,NaN,S-BGD-EXST,0.1567,Continuous,1,0.13 mm,ByLayer,...,395.5307,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,Hatch,yellow,S-BMK,NaN,USER_12,1.0000,0.13 mm,NaN,Color_2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,3D Polyline,51,NaN,NaN,S-SUV,4.1761,Continuous,1,0.20 mm,ByLayer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,3D Polyline,51,NaN,NaN,S-SUV,4.1761,Continuous,1,0.20 mm,ByLayer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,3D Polyline,51,NaN,NaN,S-SUV,5.0000,Continuous,1,0.20 mm,ByLayer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,3D Polyline,51,NaN,NaN,S-SUV,4.1761,Continuous,1,0.20 mm,ByLayer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
dtag = []
ran = range(270,300)
for i in ran:
    m = "NO."+str(i)
    dtag.append(m)
row = dtag
#dff = df.loc[df.index.intersection(row)]
dff = df.loc[row, ["Position X", "Position Y", "Position Z"]]
#dff.loc[:,["Position X", "Position Y", "Position Z"]]
#dff = df.loc[["NO.270", "NO.271","NO.272","NO.273","NO.274","NO.275","NO.276","NO.277","NO.278","NO.279",'NO.280','NO.281'], ["Position X", "Position Y", "Position Z"]]
dff.sort_values("Position X", inplace=True, ascending=True)
dff

        Position X  Position Y  Position Z
Value
NO.270     47.0625    266.1909         0.0
NO.271     65.6793    273.4993         0.0
NO.272     83.0477    279.8883         0.0
NO.273    106.1021    288.5276         0.0
NO.274    122.0032    294.1664         0.0
NO.275    141.4029    301.1899         0.0
NO.276    160.5373    307.0066         0.0
NO.277    179.6717    312.8234         0.0
NO.278    198.9520    318.1393         0.0
NO.279    216.0298    329.8597         0.0
NO.280    239.2311    329.1174         0.0
NO.281    258.7624    333.4206         0.0
NO.282    278.3656    337.3834         0.0
NO.283    298.0348    341.0048         0.0
NO.284    317.7639    344.2835         0.0
NO.285    340.3451    347.0361         0.0
NO.286    356.7229    349.1298         0.0
NO.287    379.6301    351.8137         0.0
NO.288    399.5394    353.7132         0.0
NO.289    419.4788    355.2661         0.0
NO.290    440.8167    357.5250         0.0
NO.291    462.6052    359.0602         0.0
NO.292    480.0353    366.7762         0.0
NO.293    505.2317    360.0757         0.0
NO.294    523.4538    359.8154         0.0
NO.295    542.5891    359.0174         0.0
NO.296    562.5694    358.1375         0.0
NO.297    582.5315    356.9102         0.0
NO.298    602.4692    355.3359         0.0
NO.299    622.3765    353.4151         0.0

In [104]:
df1 = df.loc[df["Name"] == 'Circle']
df2 = df1.loc[df1["Radius"] == 2.5]
df2

,Name,Color,Layer,Length,Linetype,Linetype Scale,Lineweight,Material,Plot Style,Subject,...,Position X,Position Y,Position Z,Height,Obliquing,Rotation,Style,Width Factor,Unnamed: 70,Unnamed: 71
Value,,,,,,,,,,,,,,,,,,,,,
NaN,Circle,white,D-BMK,NaN,USER_12,1.0,0.18 mm,ByLayer,Color_7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Circle,white,D-BMK,NaN,USER_12,1.0,0.18 mm,ByLayer,Color_7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Circle,white,D-BMK,NaN,USER_12,1.0,0.18 mm,ByLayer,Color_7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Circle,white,D-BMK,NaN,USER_12,1.0,0.18 mm,ByLayer,Color_7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Circle,white,D-BMK-HTXT,NaN,USER_12,1.0,0.18 mm,ByLayer,Color_7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Circle,white,D-BMK,NaN,USER_12,1.0,0.18 mm,ByLayer,Color_7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Circle,white,D-BMK,NaN,USER_12,1.0,0.18 mm,ByLayer,Color_7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
df22 = df2.loc[df2["Name"] == "Circle", ["Center X", "Center Y", "Center Z"]]
df22.sort_values("Center X", inplace=True, ascending=True)
df22

       Center X  Center Y  Center Z
Value
NaN     55.0058  248.6300       0.0
NaN    148.9235  282.9196       0.0
NaN    245.2960  309.4909       0.0
NaN    343.6120  327.5921       0.0
NaN    443.1287  337.0865       0.0
NaN    543.0938  337.9023       0.0
NaN    642.7521  330.0334       0.0

# Measuring the shortest distance between the Circles-centers and the Tags, 
## for each pair (Circle,tag), we choose the shortest distance.

In [106]:
rrx = df22["Center X"]
rry = df22["Center Y"]
rrrx = dff["Position X"]
rrry = dff["Position Y"]
rrrr0 = dff.index
import math
fel=[]
for i, j in zip(rrx,rry):
    for m, n, k in zip(rrrx,rrry,rrrr0):
        f= math.sqrt((j-n)**2 + (i-m)**2)
        fel.append([i,j,m,n,k,f])
fel

[[55.0058, 248.63, 47.0625, 266.1909, 'NO.270', 19.273848180890088],
 [55.0058, 248.63, 65.6793, 273.4993, 'NO.271', 27.06299474817967],
 [55.0058, 248.63, 83.0477, 279.8883, 'NO.272', 41.993207480496196],
 [55.0058, 248.63, 106.1021, 288.5276, 'NO.273', 64.82785172632208],
 [55.0058, 248.63, 122.0032, 294.1664, 'NO.274', 81.00750170027466],
 [55.0058, 248.63, 141.4029, 301.1899, 'NO.275', 101.12864073258378],
 [55.0058, 248.63, 160.5373, 307.0066, 'NO.276', 120.60151292504584],
 [55.0058, 248.63, 179.6717, 312.8234, 'NO.277', 140.22260597482133],
 [55.0058, 248.63, 198.952, 318.1393, 'NO.278', 159.85009002477915],
 [55.0058, 248.63, 216.0298, 329.8597, 'NO.279', 180.35241262065222],
 [55.0058, 248.63, 239.2311, 329.1174, 'NO.280', 201.04025148922292],
 [55.0058, 248.63, 258.7624, 333.4206, 'NO.281', 220.69480712495255],
 [55.0058, 248.63, 278.3656, 337.3834, 'NO.282', 240.34717861377112],
 [55.0058, 248.63, 298.0348, 341.0048, 'NO.283', 259.9926893511431],
 [55.0058, 248.63, 317.7639, 344.2835, 'NO.284', 279.62727187786953],
 [55.0058, 248.63, 340.3451, 347.0361, 'NO.285', 301.83153685739995],
 [55.0058, 248.63, 356.7229, 349.1298, 'NO.286', 318.01480819680387],
 [55.0058, 248.63, 379.6301, 351.8137, 'NO.287', 340.62855443456294],
 [55.0058, 248.63, 399.5394, 353.7132, 'NO.288', 360.20255475384954],
 [55.0058, 248.63, 419.4788, 355.2661, 'NO.289', 379.7523213256372],
 [55.0058, 248.63, 440.8167, 357.525, 'NO.290', 400.88423713562247],
 [55.0058, 248.63, 462.6052, 359.0602, 'NO.291', 422.2938549782604],
 [55.0058, 248.63, 480.0353, 366.7762, 'NO.292', 441.14464798373103],
 [55.0058, 248.63, 505.2317, 360.0757, 'NO.293', 463.81408460642933],
 [55.0058, 248.63, 523.4538, 359.8154, 'NO.294', 481.4620669140612],
 [55.0058, 248.63, 542.5891, 359.0174, 'NO.295', 499.9228465649975],
 [55.0058, 248.63, 562.5694, 358.1375, 'NO.296', 519.2424295078455],
 [55.0058, 248.63, 582.5315, 356.9102, 'NO.297', 538.5238767896277],
 [55.0058, 248.63, 602.4692, 355.3359, 'NO.298', 557.7654735051015],
 [55.0058, 248.63, 622.3765, 353.4151, 'NO.299', 576.9657081668719],
 [148.9235, 282.9196, 47.0625, 266.1909, 'NO.270', 103.2255429856874],
 [148.9235, 282.9196, 65.6793, 273.4993, 'NO.271', 83.77552677082967],
 [148.9235, 282.9196, 83.0477, 279.8883, 'NO.272', 65.94550633159167],
 [148.9235, 282.9196, 106.1021, 288.5276, 'NO.273', 43.187057806245605],
 [148.9235, 282.9196, 122.0032, 294.1664, 'NO.274', 29.175213149692656],
 [148.9235, 282.9196, 141.4029, 301.1899, 'NO.275', 19.75761337940392],
 [148.9235, 282.9196, 160.5373, 307.0066, 'NO.276', 26.740679113291034],
 [148.9235, 282.9196, 179.6717, 312.8234, 'NO.277', 42.89159658581153],
 [148.9235, 282.9196, 198.952, 318.1393, 'NO.278', 61.18233470814921],
 [148.9235, 282.9196, 216.0298, 329.8597, 'NO.279', 81.89400764219565],
 [148.9235, 282.9196, 239.2311, 329.1174, 'NO.280', 101.43815526023725],
 [148.9235, 282.9196, 258.7624, 333.4206, 'NO.281', 120.89224521949289],
 [148.9235, 282.9196, 278.3656, 337.3834, 'NO.282', 140.4334816304502],
 [148.9235, 282.9196, 298.0348, 341.0048, 'NO.283', 160.02521753376874],
 [148.9235, 282.9196, 317.7639, 344.2835, 'NO.284', 179.64578730204056],
 [148.9235, 282.9196, 340.3451, 347.0361, 'NO.285', 201.87410561736243],
 [148.9235, 282.9196, 356.7229, 349.1298, 'NO.286', 218.09259782120068],
 [148.9235, 282.9196, 379.6301, 351.8137, 'NO.287', 240.77361213050324],
 [148.9235, 282.9196, 399.5394, 353.7132, 'NO.288', 260.4228544766569],
 [148.9235, 282.9196, 419.4788, 355.2661, 'NO.289', 280.06104052570396],
 [148.9235, 282.9196, 440.8167, 357.525, 'NO.290', 301.27662689860296],
 [148.9235, 282.9196, 462.6052, 359.0602, 'NO.291', 322.79033424693813],
 [148.9235, 282.9196, 480.0353, 366.7762, 'NO.292', 341.56544535827976],
 [148.9235, 282.9196, 505.2317, 360.0757, 'NO.293', 364.5663137955151],
 [148.9235, 282.9196, 523.4538, 359.8154, 'NO.294', 382.34266002596416],
 [148.9235, 282.9196, 542.5891, 359.0174, 'NO.295', 400.9532139641732],
 [148.9235, 282.9196, 562.5694, 358.1375, 'NO.296', 420.42914155327054],
 [148.9235, 282.9196, 582.5315, 356.9102, 'NO.297', 439.8755580301775],
 [148.9235, 282.9196, 602.4692, 355.3359, 'NO.298', 459.2905643426392],
 [148.9235, 282.9196, 622.3765, 353.4151, 'NO.299', 478.67249631585264],
 [245.296, 309.4909, 47.0625, 266.1909, 'NO.270', 202.90739395657812],
 [245.296, 309.4909, 65.6793, 273.4993, 'NO.271', 183.18721076933835],
 [245.296, 309.4909, 83.0477, 279.8883, 'NO.272', 164.92672548635042],
 [245.296, 309.4909, 106.1021, 288.5276, 'NO.273', 140.7636378618427],
 [245.296, 309.4909, 122.0032, 294.1664, 'NO.274', 124.24151814948976],
 [245.296, 309.4909, 141.4029, 301.1899, 'NO.275', 104.22419502500368],
 [245.296, 309.4909, 160.5373, 307.0066, 'NO.276', 84.79509993024362],
 [245.296, 309.4909, 179.6717, 312.8234, 'NO.277', 65.70886018445306],
 [245.296, 309.4909, 198.952, 318.1393, 'NO.278', 47.14404690477897],
 [245.296, 309.4909, 216.0298, 329.8597, 'NO.279', 35.65667505362774],
 [245.296, 309.4909, 239.2311, 329.1174, 'NO.280', 20.54221298351272],
 [245.296, 309.4909, 258.7624, 333.4206, 'NO.281', 27.458595576795236],
 [245.296, 309.4909, 278.3656, 337.3834, 'NO.282', 43.26187698667266],
 [245.296, 309.4909, 298.0348, 341.0048, 'NO.283', 61.437015867065035],
 [245.296, 309.4909, 317.7639, 344.2835, 'NO.284', 80.38732204253353],
 [245.296, 309.4909, 340.3451, 347.0361, 'NO.285', 102.19576044949223],
 [245.296, 309.4909, 356.7229, 349.1298, 'NO.286', 118.26747835656256],
 [245.296, 309.4909, 379.6301, 351.8137, 'NO.287', 140.84342307204128],
 [245.296, 309.4909, 399.5394, 353.7132, 'NO.288', 160.4575902251121],
 [245.296, 309.4909, 419.4788, 355.2661, 'NO.289', 180.09724248549725],
 [245.296, 309.4909, 440.8167, 357.525, 'NO.290', 201.33459437289957],
 [245.296, 309.4909, 462.6052, 359.0602, 'NO.291', 222.89101351810936],
 [245.296, 309.4909, 480.0353, 366.7762, 'NO.292', 241.62811210738704],
 [245.296, 309.4909, 505.2317, 360.0757, 'NO.293', 264.81199014683983],
 [245.296, 309.4909, 523.4538, 359.8154, 'NO.294', 282.6735166249042],
 [245.296, 309.4909, 542.5891, 359.0174, 'NO.295', 301.3902146883007],
 [245.296, 309.4909, 562.5694, 358.1375, 'NO.296', 320.9811552710221],
 [245.296, 309.4909, 582.5315, 356.9102, 'NO.297', 340.5530391477075],
 [245.296, 309.4909, 602.4692, 355.3359, 'NO.298', 360.10340018283637],
 [245.296, 309.4909, 622.3765, 353.4151, 'NO.299', 379.63013424370035],
 [343.61199999999997,
  327.5921,
  47.0625,
  266.1909,
  'NO.270',
  302.8394183584594],
 [343.61199999999997,
  327.5921,
  65.6793,
  273.4993,
  'NO.271',
  283.1476942182825],
 [343.61199999999997,
  327.5921,
  83.0477,
  279.8883,
  'NO.272',
  264.89508672100726],
 [343.61199999999997,
  327.5921,
  106.1021,
  288.5276,
  'NO.273',
  240.70103397837738],
 [343.61199999999997,
  327.5921,
  122.0032,
  294.1664,
  'NO.274',
  224.11545608888733],
 [343.61199999999997,
  327.5921,
  141.4029,
  301.1899,
  'NO.275',
  203.9254674817493],
 [343.61199999999997,
  327.5921,
  160.5373,
  307.0066,
  'NO.276',
  184.22841417745525],
 [343.61199999999997,
  327.5921,
  179.6717,
  312.8234,
  'NO.277',
  164.60418118559443],
 [343.61199999999997,
  327.5921,
  198.952,
  318.1393,
  'NO.278',
  144.9685173678754],
 [343.61199999999997,
  327.5921,
  216.0298,
  329.8597,
  'NO.279',
  127.602350160959],
 [343.61199999999997,
  327.5921,
  239.2311,
  329.1174,
  'NO.280',
  104.39204387739514],
 [343.61199999999997,
  327.5921,
  258.7624,
  333.4206,
  'NO.281',
  85.04955045389713],
 [343.61199999999997,
  327.5921,
  278.3656,
  337.3834,
  'NO.282',
  65.97698287016465],
 [343.61199999999997,
  327.5921,
  298.0348,
  341.0048,
  'NO.283',
  47.50980615757125],
 [343.61199999999997,
  327.5921,
  317.7639,
  344.2835,
  'NO.284',
  30.768930881166458],
 [343.61199999999997,
  327.5921,
  340.3451,
  347.0361,
  'NO.285',
  19.716535486996648],
 [343.61199999999997,
  327.5921,
  356.7229,
  349.1298,
  'NO.286',
  25.21444467165595],
 [343.61199999999997,
  327.5921,
  379.6301,
  351.8137,
  'NO.287',
  43.404947116313856],
 [343.61199999999997,
  327.5921,
  399.5394,
  353.7132,
  'NO.288',
  61.72670358904646],
 [343.61199999999997,
  327.5921,
  419.4788,
  355.2661,
  'NO.289',
  80.75655774139956],
 [343.61199999999997,
  327.5921,
  440.8167,
  357.525,
  'NO.290',
  101.70905664934666],
 [343.61199999999997,
  327.5921,
  462.6052,
  359.0602,
  'NO.291',
  123.08380463671902],
 [343.61199999999997,
  327.5921,
  480.0353,
  366.7762,
  'NO.292',
  141.93910833769533],
 [343.61199999999997,
  327.5921,
  505.2317,
  360.0757,
  'NO.293',
  164.85178706052903],
 [343.61199999999997,
  327.5921,
  523.4538,
  359.8154,
  'NO.294',
  182.70581296206757],
 [343.61199999999997,
  327.5921,
  542.5891,
  359.0174,
  'NO.295',
  201.44338113847283],
 [343.61199999999997,
  327.5921,
  562.5694,
  358.1375,
  'NO.296',
  221.07773401208905],
 [343.61199999999997,
  327.5921,
  582.5315,
  356.9102,
  'NO.297',
  240.71160850249836],
 [343.61199999999997,
  327.5921,
  602.4692,
  355.3359,
  'NO.298',
  260.33971735077233],
 [343.61199999999997,
  327.5921,
  622.3765,
  353.4151,
  'NO.299',
  279.95798575723825],
 [443.1287, 337.0865, 47.0625, 266.1909, 'NO.270', 402.3613063924015],
 [443.1287, 337.0865, 65.6793, 273.4993, 'NO.271', 382.76805191159826],
 [443.1287, 337.0865, 83.0477, 279.8883, 'NO.272', 364.5956124862722],
 [443.1287, 337.0865, 106.1021, 288.5276, 'NO.273', 340.50682207082133],
 [443.1287, 337.0865, 122.0032, 294.1664, 'NO.274', 323.9810515049607],
 [443.1287, 337.0865, 141.4029, 301.1899, 'NO.275', 303.8536231102074],
 [443.1287, 337.0865, 160.5373, 307.0066, 'NO.276', 284.18778956522743],
 [443.1287, 337.0865, 179.6717, 312.8234, 'NO.277', 264.5718973561062],
 [443.1287, 337.0865, 198.952, 318.1393, 'NO.278', 244.91071273166062],
 [443.1287, 337.0865, 216.0298, 329.8597, 'NO.279', 227.2138574547116],
 [443.1287, 337.0865, 239.2311, 329.1174, 'NO.280', 204.0532720653359],
 [443.1287, 337.0865, 258.7624, 333.4206, 'NO.281', 184.40274238334956],
 [443.1287, 337.0865, 278.3656, 337.3834, 'NO.282', 164.7633675038842],
 [443.1287, 337.0865, 298.0348, 341.0048, 'NO.283', 145.14679773284698],
 [443.1287, 337.0865, 317.7639, 344.2835, 'NO.284', 125.57121440855782],
 [443.1287, 337.0865, 340.3451, 347.0361, 'NO.285', 103.2640449000522],
 [443.1287, 337.0865, 356.7229, 349.1298, 'NO.286', 87.24106457700982],
 [443.1287, 337.0865, 379.6301, 351.8137, 'NO.287', 65.18406723885825],
 [443.1287, 337.0865, 399.5394, 353.7132, 'NO.288', 46.65269796464077],
 [443.1287, 337.0865, 419.4788, 355.2661, 'NO.289', 29.82977750788631],
 [443.1287, 337.0865, 440.8167, 357.525, 'NO.290', 20.568850873347273],
 [443.1287, 337.0865, 462.6052, 359.0602, 'NO.291', 29.36285994142945],
 [443.1287, 337.0865, 480.0353, 366.7762, 'NO.292', 47.36639536264083],
 [443.1287, 337.0865, 505.2317, 360.0757, 'NO.293', 66.22149141811894],
 [443.1287, 337.0865, 523.4538, 359.8154, 'NO.294', 83.47888706265798],
 [443.1287, 337.0865, 542.5891, 359.0174, 'NO.295', 101.84957311137839],
 [443.1287, 337.0865, 562.5694, 358.1375, 'NO.296', 121.28159554314084],
 [443.1287, 337.0865, 582.5315, 356.9102, 'NO.297', 140.80525462329175],
 [443.1287, 337.0865, 602.4692, 355.3359, 'NO.298', 160.38215468252696],
 [443.1287, 337.0865, 622.3765, 353.4151, 'NO.299', 179.9899913406298],
 [543.0938, 337.9023, 47.0625, 266.1909, 'NO.270', 501.18816373658507],
 [543.0938, 337.9023, 65.6793, 273.4993, 'NO.271', 481.73888281853476],
 [543.0938, 337.9023, 83.0477, 279.8883, 'NO.272', 463.6895926384481],
 [543.0938, 337.9023, 106.1021, 288.5276, 'NO.273', 439.7722215749649],
 [543.0938, 337.9023, 122.0032, 294.1664, 'NO.274', 423.3557869654907],
 [543.0938, 337.9023, 141.4029, 301.1899, 'NO.275', 403.36506970307926],
 [543.0938, 337.9023, 160.5373, 307.0066, 'NO.276', 383.80205832009295],
 [543.0938, 337.9023, 179.6717, 312.8234, 'NO.277', 364.28639007464994],
 [543.0938, 337.9023, 198.952, 318.1393, 'NO.278', 344.7087969232001],
 [543.0938, 337.9023, 216.0298, 329.8597, 'NO.279', 327.16287000630126],
 [543.0938, 337.9023, 239.2311, 329.1174, 'NO.280', 303.98966252045483],
 [543.0938, 337.9023, 258.7624, 333.4206, 'NO.281', 284.3667186237693],
 [543.0938, 337.9023, 278.3656, 337.3834, 'NO.282', 264.728708553587],
 [543.0938, 337.9023, 298.0348, 341.0048, 'NO.283', 245.07863837399208],
 [543.0938, 337.9023, 317.7639, 344.2835, 'NO.284', 225.42023766168379],
 [543.0938, 337.9023, 340.3451, 347.0361, 'NO.285', 202.95433391314901],
 [543.0938, 337.9023, 356.7229, 349.1298, 'NO.286', 186.7087815906365],
 [543.0938, 337.9023, 379.6301, 351.8137, 'NO.287', 164.05458929164396],
 [543.0938, 337.9023, 399.5394, 353.7132, 'NO.288', 144.4224716523367],
 [543.0938, 337.9023, 419.4788, 355.2661, 'NO.289', 124.82856153717385],
 [543.0938, 337.9023, 440.8167, 357.525, 'NO.290', 104.14247711524817],
 [543.0938, 337.9023, 462.6052, 359.0602, 'NO.291', 83.22302242991415],
 [543.0938, 337.9023, 480.0353, 366.7762, 'NO.292', 69.35471522153341],
 [543.0938, 337.9023, 505.2317, 360.0757, 'NO.293', 43.87708153432721],
 [543.0938, 337.9023, 523.4538, 359.8154, 'NO.294', 29.426409084528117],
 [543.0938, 337.9023, 542.5891, 359.0174, 'NO.295', 21.1211308906507],
 [543.0938, 337.9023, 562.5694, 358.1375, 'NO.296', 28.084912575972137],
 [543.0938, 337.9023, 582.5315, 356.9102, 'NO.297', 43.77936093297849],
 [543.0938, 337.9023, 602.4692, 355.3359, 'NO.298', 61.88189181109446],
 [543.0938, 337.9023, 622.3765, 353.4151, 'NO.299', 80.78609709058853],
 [642.7521, 330.0334, 47.0625, 266.1909, 'NO.270', 599.1009634063444],
 [642.7521, 330.0334, 65.6793, 273.4993, 'NO.271', 579.8354257568694],
 [642.7521, 330.0334, 83.0477, 279.8883, 'NO.272', 561.9462131141823],
 [642.7521, 330.0334, 106.1021, 288.5276, 'NO.273', 538.2526859511619],
 [642.7521, 330.0334, 122.0032, 294.1664, 'NO.274', 521.9826228335672],
 [642.7521, 330.0334, 141.4029, 301.1899, 'NO.275', 502.1782231766826],
 [642.7521, 330.0334, 160.5373, 307.0066, 'NO.276', 482.76427669959185],
 [642.7521, 330.0334, 179.6717, 312.8234, 'NO.277', 463.4000873588179],
 [642.7521, 330.0334, 198.952, 318.1393, 'NO.278', 443.9594557781375],
 [642.7521, 330.0334, 216.0298, 329.8597, 'NO.279', 426.7223353528381],
 [642.7521, 330.0334, 239.2311, 329.1174, 'NO.280', 403.52203966698033],
 [642.7521, 330.0334, 258.7624, 333.4206, 'NO.281', 384.00463907344925],
 [642.7521, 330.0334, 278.3656, 337.3834, 'NO.282', 364.4606204821723],
 [642.7521, 330.0334, 298.0348, 341.0048, 'NO.283', 344.8918504941078],
 [642.7521, 330.0334, 317.7639, 344.2835, 'NO.284', 325.3004695496919],
 [642.7521, 330.0334, 340.3451, 347.0361, 'NO.285', 302.8846074931673],
 [642.7521, 330.0334, 356.7229, 349.1298, 'NO.286', 286.66596544689435],
 [642.7521, 330.0334, 379.6301, 351.8137, 'NO.287', 264.0219088486598],
 [642.7521, 330.0334, 399.5394, 353.7132, 'NO.288', 244.36274341505094],
 [642.7521, 330.0334, 419.4788, 355.2661, 'NO.289', 224.6945830281185],
 [642.7521, 330.0334, 440.8167, 357.525, 'NO.290', 203.79816938265174],
 [642.7521, 330.0334, 462.6052, 359.0602, 'NO.291', 182.47043787378274],
 [642.7521, 330.0334, 480.0353, 366.7762, 'NO.292', 166.81363959245064],
 [642.7521, 330.0334, 505.2317, 360.0757, 'NO.293', 140.76363239647526],
 [642.7521, 330.0334, 523.4538, 359.8154, 'NO.294', 122.9595539471822],
 [642.7521, 330.0334, 542.5891, 359.0174, 'NO.295', 104.27223419971399],
 [642.7521, 330.0334, 562.5694, 358.1375, 'NO.296', 84.96532125579242],
 [642.7521, 330.0334, 582.5315, 356.9102, 'NO.297', 65.94606161553546],
 [642.7521, 330.0334, 602.4692, 355.3359, 'NO.298', 47.570248461196876],
 [642.7521, 330.0334, 622.3765, 353.4151, 'NO.299', 31.01401248226363]]

In [107]:
from pandas import DataFrame
d1 = pd.DataFrame(fel, columns=['CX','CY','TX','TY','TG','Dis'])
d11 = d1[:30]
d110 = d11.sort_values(by='Dis', ascending=True)
d11out=d110[:1]
d11out

        CX      CY       TX        TY      TG        Dis
0  55.0058  248.63  47.0625  266.1909  NO.270  19.273848

In [108]:
d12 = d1[30:60]
d120 = d12.sort_values(by='Dis', ascending=True)
d12out= d120[:1]
d12out

          CX        CY        TX        TY      TG        Dis
35  148.9235  282.9196  141.4029  301.1899  NO.275  19.757613

In [109]:
d13 = d1[60:90]
d130 = d13.sort_values(by='Dis', ascending=True)
d13out = d130[:1]
d13out

         CX        CY        TX        TY      TG        Dis
70  245.296  309.4909  239.2311  329.1174  NO.280  20.542213

In [110]:
d14 = d1[90:120]
d140 = d14.sort_values(by='Dis', ascending=True)
d14out = d140[:1]
d14out

          CX        CY        TX        TY      TG        Dis
105  343.612  327.5921  340.3451  347.0361  NO.285  19.716535

In [111]:
d15 = d1[120:150]
d150 = d15.sort_values(by='Dis', ascending=True)
d15out = d150[:1]
d15out

           CX        CY        TX       TY      TG        Dis
140  443.1287  337.0865  440.8167  357.525  NO.290  20.568851

In [112]:
d16 = d1[150:180]
d160 = d16.sort_values(by='Dis', ascending=True)
d16out = d160[:1]
d16out

           CX        CY        TX        TY      TG        Dis
175  543.0938  337.9023  542.5891  359.0174  NO.295  21.121131

In [113]:
d17 = d1[180:210]
d170 = d17.sort_values(by='Dis', ascending=True)
d17out = d170[:1]
d17out

           CX        CY        TX        TY      TG        Dis
209  642.7521  330.0334  622.3765  353.4151  NO.299  31.014012

In [114]:
dframe =  [d11out,d12out,d13out,d14out,d15out,d16out,d17out]
fi = pd.concat(dframe)
fi.reset_index(drop=True, inplace=True)
fi.sort_values("CX", inplace=True, ascending=True)
fi.insert(0, 'GEO', 'Circle')
fi.set_index('GEO',inplace= True)
fi["P1"] = fi["CX"].map(str)+','+fi["CY"].map(str)
fi.insert(7, 'P2', '1.5')
fi

,CX,CY,TX,TY,TG,Dis,P1,P2
GEO,,,,,,,,
Circle,55.0058,248.6300,47.0625,266.1909,NO.270,19.273848,"55.0058,248.63",1.5
Circle,148.9235,282.9196,141.4029,301.1899,NO.275,19.757613,"148.9235,282.9196",1.5
Circle,245.2960,309.4909,239.2311,329.1174,NO.280,20.542213,"245.296,309.4909",1.5
Circle,343.6120,327.5921,340.3451,347.0361,NO.285,19.716535,"343.61199999999997,327.5921",1.5
Circle,443.1287,337.0865,440.8167,357.5250,NO.290,20.568851,"443.1287,337.0865",1.5
Circle,543.0938,337.9023,542.5891,359.0174,NO.295,21.121131,"543.0938,337.9023",1.5
Circle,642.7521,330.0334,622.3765,353.4151,NO.299,31.014012,"642.7521,330.0334",1.5

In [115]:
fii = fi.drop(["CX", "CY", "TX",'TY','TG','Dis'], axis=1)
fii

                                 P1   P2
GEO
Circle               55.0058,248.63  1.5
Circle            148.9235,282.9196  1.5
Circle             245.296,309.4909  1.5
Circle  343.61199999999997,327.5921  1.5
Circle            443.1287,337.0865  1.5
Circle            543.0938,337.9023  1.5
Circle            642.7521,330.0334  1.5

In [116]:
fi.to_csv('/mnt/c/Users/CINPC0075/Desktop/Repo-KCIN3D-reconstruction/Demo1_OUT1_183D1PLZ_平面図04.csv',index=False, header=False)

In [200]:
dl1 = df.loc[df["Name"] == 'Line']
dl2 = dl1.loc[dl1['Color'] == "red"]
dl3 = dl2.loc[dl2["Length"] == 5]
dl4 = dl3.loc[dl3['Name'] == "Line", ["End X", "End Y", "End Z",'Start X','Start Y','Start Z']]
dl4.reset_index(drop=True, inplace=True)
dl4.sort_values("End X", inplace=True, ascending=True)
dl4.insert(0, 'GEO', 'Line')
dl4.set_index('GEO',inplace= True)
dl4["P1"] = dl4["End X"].map(str)+','+dl4["End Y"].map(str)+','+dl4["End Z"].map(str)
dl4["P2"] = dl4["Start X"].map(str)+','+dl4["Start Y"].map(str)+','+dl4["Start Z"].map(str)
dl4

,End X,End Y,End Z,Start X,Start Y,Start Z,P1,P2
GEO,,,,,,,,
Line,55.9285,246.3065,0.0,54.0831,250.9535,0.0,"55.9285,246.3065,0.0","54.0831,250.9535,0.0"
Line,74.5260,253.6073,0.0,72.7192,258.2694,0.0,"74.52600000000001,253.6073,0.0","72.7192,258.2694,0.0"
Line,93.1864,260.7282,0.0,91.4300,265.4096,0.0,"93.1864,260.7282,0.0","91.43,265.4096,0.0"
Line,111.9253,267.6219,0.0,110.2312,272.3261,0.0,"111.9253,267.6219,0.0","110.2312,272.3261,0.0"
Line,130.7564,274.2403,0.0,129.1368,278.9707,0.0,"130.7564,274.2403,0.0","129.1368,278.9707,0.0"
Line,149.6921,280.5407,0.0,148.1548,285.2985,0.0,"149.6921,280.5407,0.0","148.1548,285.2985,0.0"
Line,149.6921,280.5407,0.0,148.1548,285.2985,0.0,"149.6921,280.5407,0.0","148.1548,285.2985,0.0"
Line,168.7344,286.5108,0.0,167.2801,291.2946,0.0,"168.7344,286.5108,0.0","167.2801,291.2946,0.0"
Line,187.8777,292.1489,0.0,186.5068,296.9573,0.0,"187.8777,292.1489,0.0","186.5068,296.9573,0.0"
Line,207.1161,297.4532,0.0,205.8291,302.2847,0.0,"207.1161,297.4532,0.0","205.8291,302.2847,0.0"
Line,226.4439,302.4221,0.0,225.2411,307.2753,0.0,"226.4439,302.4221,0.0","225.2411,307.2753,0.0"
Line,245.8551,307.0542,0.0,244.7369,311.9276,0.0,"245.8551,307.0542,0.0","244.7369,311.9276,0.0"
Line,265.3440,311.3480,0.0,264.3107,316.2401,0.0,"265.344,311.348,0.0","264.3107,316.2401,0.0"
Line,284.9046,315.3023,0.0,283.9565,320.2115,0.0,"284.9046,315.3023,0.0","283.9565,320.2115,0.0"
Line,304.5310,318.9157,0.0,303.6684,323.8408,0.0,"304.531,318.9157,0.0","303.6684,323.8408,0.0"
Line,324.2172,322.1873,0.0,323.4405,327.1266,0.0,"324.2172,322.1873,0.0","323.4405,327.1266,0.0"
Line,343.9574,325.1161,0.0,343.2667,330.0682,0.0,"343.9574,325.1161,0.0","343.2667,330.0682,0.0"
Line,363.7456,327.7011,0.0,363.1410,332.6645,0.0,"363.7456,327.7011,0.0","363.14099999999996,332.6645,0.0"
Line,383.5757,329.9417,0.0,383.0575,334.9147,0.0,"383.5757,329.9417,0.0","383.0575,334.9147,0.0"
Line,403.4417,331.8370,0.0,403.0101,336.8183,0.0,"403.4417,331.837,0.0","403.0101,336.8183,0.0"
Line,423.3377,333.3865,0.0,422.9929,338.3746,0.0,"423.3377,333.3865,0.0","422.9929,338.3746,0.0"
Line,443.2577,334.5899,0.0,442.9996,339.5832,0.0,"443.2577,334.5899,0.0","442.9996,339.5832,0.0"
Line,463.1956,335.4466,0.0,463.0244,340.4437,0.0,"463.1956,335.4466,0.0","463.0244,340.4437,0.0"
Line,463.1956,335.4466,0.0,463.0244,340.4437,0.0,"463.1956,335.4466,0.0","463.0244,340.4437,0.0"
Line,483.1453,335.9565,0.0,483.0610,340.9557,0.0,"483.1453,335.9565,0.0","483.061,340.9557,0.0"
Line,503.1009,336.1193,0.0,503.1036,341.1193,0.0,"503.1009,336.1193,0.0","503.1036,341.1193,0.0"
Line,523.0564,335.9351,0.0,523.1460,340.9343,0.0,"523.0564,335.9351,0.0","523.146,340.9343,0.0"
Line,543.0055,335.4039,0.0,543.1821,340.4008,0.0,"543.0055,335.4039,0.0","543.1821,340.4008,0.0"
Line,562.9425,334.5258,0.0,563.2059,339.5189,0.0,"562.9425,334.5258,0.0","563.2059,339.5189,0.0"
Line,582.8612,333.3012,0.0,583.2114,338.2889,0.0,"582.8612,333.3012,0.0","583.2114,338.2889,0.0"
Line,602.7555,331.7304,0.0,603.1924,336.7112,0.0,"602.7555,331.7304,0.0","603.1924,336.7112,0.0"
Line,622.6195,329.8138,0.0,623.1430,334.7863,0.0,"622.6195,329.8138,0.0","623.143,334.7863,0.0"
Line,642.4472,327.5521,0.0,643.0571,332.5147,0.0,"642.4472,327.5521,0.0","643.0571,332.5147,0.0"

In [286]:
dl4l= dl4[:30]
dl4l.insert(8, 'Value', row)
dl4l
#dl4l.Value.replace({'NO.':''},regex=True)

,End X,End Y,End Z,Start X,Start Y,Start Z,P1,P2,Value
GEO,,,,,,,,,
Line,55.9285,246.3065,0.0,54.0831,250.9535,0.0,"55.9285,246.3065,0.0","54.0831,250.9535,0.0",NO.270
Line,74.5260,253.6073,0.0,72.7192,258.2694,0.0,"74.52600000000001,253.6073,0.0","72.7192,258.2694,0.0",NO.271
Line,93.1864,260.7282,0.0,91.4300,265.4096,0.0,"93.1864,260.7282,0.0","91.43,265.4096,0.0",NO.272
Line,111.9253,267.6219,0.0,110.2312,272.3261,0.0,"111.9253,267.6219,0.0","110.2312,272.3261,0.0",NO.273
Line,130.7564,274.2403,0.0,129.1368,278.9707,0.0,"130.7564,274.2403,0.0","129.1368,278.9707,0.0",NO.274
Line,149.6921,280.5407,0.0,148.1548,285.2985,0.0,"149.6921,280.5407,0.0","148.1548,285.2985,0.0",NO.275
Line,149.6921,280.5407,0.0,148.1548,285.2985,0.0,"149.6921,280.5407,0.0","148.1548,285.2985,0.0",NO.276
Line,168.7344,286.5108,0.0,167.2801,291.2946,0.0,"168.7344,286.5108,0.0","167.2801,291.2946,0.0",NO.277
Line,187.8777,292.1489,0.0,186.5068,296.9573,0.0,"187.8777,292.1489,0.0","186.5068,296.9573,0.0",NO.278
Line,207.1161,297.4532,0.0,205.8291,302.2847,0.0,"207.1161,297.4532,0.0","205.8291,302.2847,0.0",NO.279
Line,226.4439,302.4221,0.0,225.2411,307.2753,0.0,"226.4439,302.4221,0.0","225.2411,307.2753,0.0",NO.280
Line,245.8551,307.0542,0.0,244.7369,311.9276,0.0,"245.8551,307.0542,0.0","244.7369,311.9276,0.0",NO.281
Line,265.3440,311.3480,0.0,264.3107,316.2401,0.0,"265.344,311.348,0.0","264.3107,316.2401,0.0",NO.282
Line,284.9046,315.3023,0.0,283.9565,320.2115,0.0,"284.9046,315.3023,0.0","283.9565,320.2115,0.0",NO.283
Line,304.5310,318.9157,0.0,303.6684,323.8408,0.0,"304.531,318.9157,0.0","303.6684,323.8408,0.0",NO.284
Line,324.2172,322.1873,0.0,323.4405,327.1266,0.0,"324.2172,322.1873,0.0","323.4405,327.1266,0.0",NO.285
Line,343.9574,325.1161,0.0,343.2667,330.0682,0.0,"343.9574,325.1161,0.0","343.2667,330.0682,0.0",NO.286
Line,363.7456,327.7011,0.0,363.1410,332.6645,0.0,"363.7456,327.7011,0.0","363.14099999999996,332.6645,0.0",NO.287
Line,383.5757,329.9417,0.0,383.0575,334.9147,0.0,"383.5757,329.9417,0.0","383.0575,334.9147,0.0",NO.288
Line,403.4417,331.8370,0.0,403.0101,336.8183,0.0,"403.4417,331.837,0.0","403.0101,336.8183,0.0",NO.289
Line,423.3377,333.3865,0.0,422.9929,338.3746,0.0,"423.3377,333.3865,0.0","422.9929,338.3746,0.0",NO.290
Line,443.2577,334.5899,0.0,442.9996,339.5832,0.0,"443.2577,334.5899,0.0","442.9996,339.5832,0.0",NO.291
Line,463.1956,335.4466,0.0,463.0244,340.4437,0.0,"463.1956,335.4466,0.0","463.0244,340.4437,0.0",NO.292
Line,463.1956,335.4466,0.0,463.0244,340.4437,0.0,"463.1956,335.4466,0.0","463.0244,340.4437,0.0",NO.293
Line,483.1453,335.9565,0.0,483.0610,340.9557,0.0,"483.1453,335.9565,0.0","483.061,340.9557,0.0",NO.294
Line,503.1009,336.1193,0.0,503.1036,341.1193,0.0,"503.1009,336.1193,0.0","503.1036,341.1193,0.0",NO.295
Line,523.0564,335.9351,0.0,523.1460,340.9343,0.0,"523.0564,335.9351,0.0","523.146,340.9343,0.0",NO.296
Line,543.0055,335.4039,0.0,543.1821,340.4008,0.0,"543.0055,335.4039,0.0","543.1821,340.4008,0.0",NO.297
Line,562.9425,334.5258,0.0,563.2059,339.5189,0.0,"562.9425,334.5258,0.0","563.2059,339.5189,0.0",NO.298
Line,582.8612,333.3012,0.0,583.2114,338.2889,0.0,"582.8612,333.3012,0.0","583.2114,338.2889,0.0",NO.299

In [205]:
dll4 = dl4.drop(["End X", "End Y", "End Z",'Start X','Start Y','Start Z'], axis=1)
dll4

                                  P1                               P2
GEO
Line            55.9285,246.3065,0.0             54.0831,250.9535,0.0
Line  74.52600000000001,253.6073,0.0             72.7192,258.2694,0.0
Line            93.1864,260.7282,0.0               91.43,265.4096,0.0
Line           111.9253,267.6219,0.0            110.2312,272.3261,0.0
Line           130.7564,274.2403,0.0            129.1368,278.9707,0.0
Line           149.6921,280.5407,0.0            148.1548,285.2985,0.0
Line           149.6921,280.5407,0.0            148.1548,285.2985,0.0
Line           168.7344,286.5108,0.0            167.2801,291.2946,0.0
Line           187.8777,292.1489,0.0            186.5068,296.9573,0.0
Line           207.1161,297.4532,0.0            205.8291,302.2847,0.0
Line           226.4439,302.4221,0.0            225.2411,307.2753,0.0
Line           245.8551,307.0542,0.0            244.7369,311.9276,0.0
Line             265.344,311.348,0.0            264.3107,316.2401,0.0
Line           284.9046,315.3023,0.0            283.9565,320.2115,0.0
Line            304.531,318.9157,0.0            303.6684,323.8408,0.0
Line           324.2172,322.1873,0.0            323.4405,327.1266,0.0
Line           343.9574,325.1161,0.0            343.2667,330.0682,0.0
Line           363.7456,327.7011,0.0  363.14099999999996,332.6645,0.0
Line           383.5757,329.9417,0.0            383.0575,334.9147,0.0
Line            403.4417,331.837,0.0            403.0101,336.8183,0.0
Line           423.3377,333.3865,0.0            422.9929,338.3746,0.0
Line           443.2577,334.5899,0.0            442.9996,339.5832,0.0
Line           463.1956,335.4466,0.0            463.0244,340.4437,0.0
Line           463.1956,335.4466,0.0            463.0244,340.4437,0.0
Line           483.1453,335.9565,0.0             483.061,340.9557,0.0
Line           503.1009,336.1193,0.0            503.1036,341.1193,0.0
Line           523.0564,335.9351,0.0             523.146,340.9343,0.0
Line           543.0055,335.4039,0.0            543.1821,340.4008,0.0
Line           562.9425,334.5258,0.0            563.2059,339.5189,0.0
Line           582.8612,333.3012,0.0            583.2114,338.2889,0.0
Line           602.7555,331.7304,0.0            603.1924,336.7112,0.0
Line           622.6195,329.8138,0.0             623.143,334.7863,0.0
Line           642.4472,327.5521,0.0            643.0571,332.5147,0.0

In [119]:
from openpyxl import Workbook
from openpyxl.utils.dataframe import dataframe_to_rows
wb = Workbook()
ws = wb.active

for r in dataframe_to_rows(dll4, index=True, header=True):
    ws.append(r)

for cell in ws['A'] + ws[1]:
    cell.style = 'Pandas'

wb.save("/mnt/c/Users/CINPC0075/Desktop/Repo-KCIN3D-reconstruction/Demo1_OUT1_183D1PLZ_平面図04_EXCEL_1.xlsx")

wba = Workbook()
wsa = wba.active

for k in dataframe_to_rows(fii, index=True, header=True):
    wsa.append(k)

for cell in wsa['A'] + wsa[1]:
    cell.style = 'Pandas'

wba.save("/mnt/c/Users/CINPC0075/Desktop/Repo-KCIN3D-reconstruction/Demo1_OUT1_183D1PLZ_平面図04_EXCEL_2.xlsx")

## Elevation

In [122]:
dflv = pd.read_csv('/mnt/c/Users/CINPC0075/Desktop/Repo-KCIN3D-reconstruction/187D1PFZ_縦断図03.csv',index_col=0)
dflv.head()

,Name,Author,Closed,Color,Comments,Drawing Revision Number,EdgeStyleId,FaceStyleId,File Accessed,File Created,...,Height,Obliquing,Position X,Position Y,Position Z,Rotation,Style,Value,Width Factor,Unnamed: 72
Count,,,,,,,,,,,,,,,,,,,,,
1,Line,NaN,NaN,white,NaN,NaN,0.0,0.0,20/04/2021 16:20,22/02/2021 13:37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Line,NaN,NaN,white,NaN,NaN,0.0,0.0,20/04/2021 16:20,22/02/2021 13:37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Line,NaN,NaN,white,NaN,NaN,0.0,0.0,20/04/2021 16:20,22/02/2021 13:37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Line,NaN,NaN,white,NaN,NaN,0.0,0.0,20/04/2021 16:20,22/02/2021 13:37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Line,NaN,NaN,white,NaN,NaN,0.0,0.0,20/04/2021 16:20,22/02/2021 13:37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [123]:
to_drop = ['Author','Closed', 'Comments', 'Drawing Revision Number', 'EdgeStyleId', 'FaceStyleId', 'File Accessed', 'File Created', 'File Last Saved By', 'File Location',
...            'File Modified','File Name', 'File Size', 'Fit/Smooth', 'Hyperlink', 'Hyperlink Base', 'Keywords']

dflv.drop(to_drop, inplace=True, axis=1)
dflv.head()

,Name,Color,Layer,Length,Linetype,Linetype Scale,Lineweight,Material,Plot Style,Subject,...,Height,Obliquing,Position X,Position Y,Position Z,Rotation,Style,Value,Width Factor,Unnamed: 72
Count,,,,,,,,,,,,,,,,,,,,,
1,Line,white,D-TTL-BAND,2.0,Continuous,1.0,0.13 mm,ByLayer,Color_7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Line,white,D-TTL-BAND,2.0,Continuous,1.0,0.13 mm,ByLayer,Color_7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Line,white,D-TTL-BAND,2.0,Continuous,1.0,0.13 mm,ByLayer,Color_7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Line,white,D-TTL-BAND,2.0,Continuous,1.0,0.13 mm,ByLayer,Color_7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Line,white,D-TTL-BAND,2.0,Continuous,1.0,0.13 mm,ByLayer,Color_7,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [124]:
dflv.set_index("Value",inplace= True)
ref0 = dflv.loc[["高", "計","画"], ["Position X", "Position Y", "Position Z"]]

In [125]:
r1 = ref0['Position Y'].min()
r2 = ref0['Position Y'].max()

In [126]:
lm = dflv.loc[dflv["Position Y"]>(r1+8.491)]
lq = lm.loc[lm["Position Y"]<(r1+22.491)]
lz = lq.loc[:,["Position X","Position Y","Position Z"]]
lz.head

<bound method NDFrame.head of          Position X  Position Y  Position Z
Value
高           75.8862    168.5090         0.0
画           75.8862    162.0090         0.0
計           75.8862    155.5090         0.0
467.4      589.2620    162.5105         0.0
467.8      581.2620    162.5105         0.0
468.4      569.2620    162.5105         0.0
466.4      609.2620    162.5105         0.0
463.338    669.2620    162.5105         0.0
464.398    649.2620    162.5105         0.0
465.4      629.2620    162.5105         0.0
471.8      501.2620    162.5105         0.0
472.4      489.2620    162.5105         0.0
473.4      469.2620    162.5105         0.0
471.4      509.2620    162.5105         0.0
469.4      549.2620    162.5105         0.0
469.9      539.2620    162.5105         0.0
470.4      529.2620    162.5105         0.0
462.198    689.2620    162.5105         0.0
461        709.2620    162.5105         0.0
488.4      169.2620    162.5105         0.0
489.4      149.2620    162.5105         0.0
490.1      135.2620    162.5105         0.0
487.4      189.2620    162.5105         0.0
486.4      209.2620    162.5105         0.0
487        197.2620    162.5105         0.0
487.215    192.9700    162.5105         0.0
490.4      129.2620    162.5105         0.0
491.4      109.2620    162.5105         0.0
492.4       89.2620    162.5105         0.0
485.4      229.2620    162.5105         0.0
476.4      409.2620    162.5105         0.0
477.4      389.2620    162.5105         0.0
478.4      369.2620    162.5105         0.0
476        417.2620    162.5105         0.0
474.4      449.2620    162.5105         0.0
474.9      439.2620    162.5105         0.0
475.4      429.2620    162.5105         0.0
482.4      289.2620    162.5105         0.0
483.4      269.2620    162.5105         0.0
484.4      249.2620    162.5105         0.0
481.4      309.2620    162.5105         0.0
479.4      349.2620    162.5105         0.0
480.258    332.7620    162.5105         0.0
480.4      329.2620    162.5105         0.0>

In [127]:
dtemp1 = dflv.reset_index()
dtemp2 = dtemp1.dropna(subset=['Value'])
dtemp2

,Value,Name,Color,Layer,Length,Linetype,Linetype Scale,Lineweight,Material,Plot Style,...,TextDefinedSize,Height,Obliquing,Position X,Position Y,Position Z,Rotation,Style,Width Factor,Unnamed: 72
29,10,Text,white,D-TTL-BAND,NaN,Continuous,1.0,0.13 mm,NaN,Color_7,...,NaN,2.3065,0.0,439.262,74.5105,0.0,90.0,ＭＳ ゴシック,1,NaN
30,NO.279,Text,white,D-TTL-BAND,NaN,Continuous,1.0,0.13 mm,NaN,Color_7,...,NaN,2.3065,0.0,429.262,67.0090,0.0,90.0,ＭＳ ゴシック,1,NaN
31,8,Text,white,D-TTL-BAND,NaN,Continuous,1.0,0.13 mm,NaN,Color_7,...,NaN,2.3065,0.0,417.262,76.0103,0.0,90.0,ＭＳ ゴシック,1,NaN
32,NO.280,Text,white,D-TTL-BAND,NaN,Continuous,1.0,0.13 mm,NaN,Color_7,...,NaN,2.3065,0.0,449.262,67.0090,0.0,90.0,ＭＳ ゴシック,1,NaN
33,12,Text,white,D-TTL-BAND,NaN,Continuous,1.0,0.13 mm,NaN,Color_7,...,NaN,2.3065,0.0,501.262,74.5105,0.0,90.0,ＭＳ ゴシック,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
909,456.821,Text,white,D-TTL-BAND,NaN,Continuous,1.0,0.13 mm,NaN,Color_7,...,NaN,2.3065,0.0,329.262,140.5105,0.0,90.0,ＭＳ ゴシック,1,NaN
910,454.503,Text,white,D-TTL-BAND,NaN,Continuous,1.0,0.13 mm,NaN,Color_7,...,NaN,2.3065,0.0,369.262,140.5105,0.0,90.0,ＭＳ ゴシック,1,NaN
911,476.405,Text,white,D-TTL-BAND,NaN,Continuous,1.0,0.13 mm,NaN,Color_7,...,NaN,2.3065,0.0,417.262,140.5105,0.0,90.0,ＭＳ ゴシック,1,NaN
912,473.202,Text,white,D-TTL-BAND,NaN,Continuous,1.0,0.13 mm,NaN,Color_7,...,NaN,2.3065,0.0,409.262,140.5105,0.0,90.0,ＭＳ ゴシック,1,NaN
913,459.632,Text,white,D-TTL-BAND,NaN,Continuous,1.0,0.13 mm,NaN,Color_7,...,NaN,2.3065,0.0,389.262,140.5105,0.0,90.0,ＭＳ ゴシック,1,NaN

In [128]:
dtemp3 = dtemp2[dtemp2['Value'].str.contains('DL=')]
#dtemp3.loc[:, ["Position X", "Position Y", "Position Z"]]
dtemp4 = dtemp3.iat[0,0]
reflev = float(dtemp4.replace('DL=',''))
reflev

440.0

In [129]:
lz1 = lz.drop(["高", "計","画"])
lz2 = lz1.reset_index()
lz2.sort_values('Position X', inplace=True, ascending=True)
lz22 = lz2.loc[:,["Position X"]]
lz2['Value'] = lz2['Value'].astype(float)
lz3 = lz2['Value'] - reflev 
lz22.insert(0, 'TRUE ELEVATION', lz3)
lz22

    TRUE ELEVATION  Position X
25          52.400      89.262
24          51.400     109.262
23          50.400     129.262
18          50.100     135.262
17          49.400     149.262
16          48.400     169.262
19          47.400     189.262
22          47.215     192.970
21          47.000     197.262
20          46.400     209.262
26          45.400     229.262
36          44.400     249.262
35          43.400     269.262
34          42.400     289.262
37          41.400     309.262
40          40.400     329.262
39          40.258     332.762
38          39.400     349.262
29          38.400     369.262
28          37.400     389.262
27          36.400     409.262
30          36.000     417.262
33          35.400     429.262
32          34.900     439.262
31          34.400     449.262
9           33.400     469.262
8           32.400     489.262
7           31.800     501.262
10          31.400     509.262
13          30.400     529.262
12          29.900     539.262
11          29.400     549.262
2           28.400     569.262
1           27.800     581.262
0           27.400     589.262
3           26.400     609.262
6           25.400     629.262
5           24.398     649.262
4           23.338     669.262
14          22.198     689.262
15          21.000     709.262

In [130]:
b1 = lz22['Position X'].min()
b2 = lz22['Position X'].max()
print(b1,b2)

89.262 709.262

In [131]:
dtemp33 = dtemp2[dtemp2['Value'].str.contains('NO.')]
dtemp333 = dtemp33.loc[dtemp33['Position X']>= b1]
dtemp444 = dtemp333.loc[dtemp333['Position X']<= b2]
dtemp444.sort_values('Position X', inplace=True, ascending=True)
dTG0 = dtemp444.loc[:,['Value','Position X']]

dTG = dTG0.loc[dTG0["Value"].apply(len)<7]
dTG

      Value  Position X
200  NO.262      89.262
199  NO.263     109.262
202  NO.264     129.262
204  NO.265     149.262
203  NO.266     169.262
194  NO.267     189.262
195  NO.268     209.262
198  NO.269     229.262
197  NO.270     249.262
196  NO.271     269.262
117  NO.272     289.262
38   NO.273     309.262
37   NO.274     329.262
39   NO.275     349.262
42   NO.276     369.262
41   NO.277     389.262
40   NO.278     409.262
30   NO.279     429.262
32   NO.280     449.262
35   NO.281     469.262
34   NO.282     489.262
43   NO.283     509.262
53   NO.284     529.262
51   NO.285     549.262
54   NO.286     569.262
56   NO.287     589.262
55   NO.288     609.262
46   NO.289     629.262
45   NO.290     649.262
44   NO.291     669.262
47   NO.292     689.262
50   NO.293     709.262

In [150]:
dTG.Value.replace({'NO.':''},regex=True)
z1 = lz22.set_index("Position X")
z2 = dTG.set_index("Position X")
dTGLEV=pd.merge(z1, z2, left_index=True, right_index=True, how='outer')
tt = dTGLEV.dropna()
ttt = tt.reset_index(drop=True, inplace=True)
tt

    TRUE ELEVATION Value
0           52.400   262
1           51.400   263
2           50.400   264
3           49.400   265
4           48.400   266
5           47.400   267
6           46.400   268
7           45.400   269
8           44.400   270
9           43.400   271
10          42.400   272
11          41.400   273
12          40.400   274
13          39.400   275
14          38.400   276
15          37.400   277
16          36.400   278
17          35.400   279
18          34.400   280
19          33.400   281
20          32.400   282
21          31.400   283
22          30.400   284
23          29.400   285
24          28.400   286
25          27.400   287
26          26.400   288
27          25.400   289
28          24.398   290
29          23.338   291
30          22.198   292
31          21.000   293

In [291]:
dimi = tt.loc[tt['Value']>=str(270)]
dimit = dimi.loc[dimi['Value']<str(300)]
#dimit=dimit[['Value','TRUE ELEVATION']]
dimit

    TRUE ELEVATION Value
8           44.400   270
9           43.400   271
10          42.400   272
11          41.400   273
12          40.400   274
13          39.400   275
14          38.400   276
15          37.400   277
16          36.400   278
17          35.400   279
18          34.400   280
19          33.400   281
20          32.400   282
21          31.400   283
22          30.400   284
23          29.400   285
24          28.400   286
25          27.400   287
26          26.400   288
27          25.400   289
28          24.398   290
29          23.338   291
30          22.198   292
31          21.000   293

In [289]:
dl9l = dl4l[:23]

print(dl9l,dimit)

         End X     End Y  End Z   Start X   Start Y  Start Z   Value
GEO
Line   55.9285  246.3065    0.0   54.0831  250.9535      0.0  NO.270
Line   74.5260  253.6073    0.0   72.7192  258.2694      0.0  NO.271
Line   93.1864  260.7282    0.0   91.4300  265.4096      0.0  NO.272
Line  111.9253  267.6219    0.0  110.2312  272.3261      0.0  NO.273
Line  130.7564  274.2403    0.0  129.1368  278.9707      0.0  NO.274
Line  149.6921  280.5407    0.0  148.1548  285.2985      0.0  NO.275
Line  149.6921  280.5407    0.0  148.1548  285.2985      0.0  NO.276
Line  168.7344  286.5108    0.0  167.2801  291.2946      0.0  NO.277
Line  187.8777  292.1489    0.0  186.5068  296.9573      0.0  NO.278
Line  207.1161  297.4532    0.0  205.8291  302.2847      0.0  NO.279
Line  226.4439  302.4221    0.0  225.2411  307.2753      0.0  NO.280
Line  245.8551  307.0542    0.0  244.7369  311.9276      0.0  NO.281
Line  265.3440  311.3480    0.0  264.3107  316.2401      0.0  NO.282
Line  284.9046  315.3023    0.0  283.9565  320.2115      0.0  NO.283
Line  304.5310  318.9157    0.0  303.6684  323.8408      0.0  NO.284
Line  324.2172  322.1873    0.0  323.4405  327.1266      0.0  NO.285
Line  343.9574  325.1161    0.0  343.2667  330.0682      0.0  NO.286
Line  363.7456  327.7011    0.0  363.1410  332.6645      0.0  NO.287
Line  383.5757  329.9417    0.0  383.0575  334.9147      0.0  NO.288
Line  403.4417  331.8370    0.0  403.0101  336.8183      0.0  NO.289
Line  423.3377  333.3865    0.0  422.9929  338.3746      0.0  NO.290
Line  443.2577  334.5899    0.0  442.9996  339.5832      0.0  NO.291
Line  463.1956  335.4466    0.0  463.0244  340.4437      0.0  NO.292    Value  TRUE ELEVATION
8    270          44.400
9    271          43.400
10   272          42.400
11   273          41.400
12   274          40.400
13   275          39.400
14   276          38.400
15   277          37.400
16   278          36.400
17   279          35.400
18   280          34.400
19   281          33.400
20   282          32.400
21   283          31.400
22   284          30.400
23   285          29.400
24   286          28.400
25   287          27.400
26   288          26.400
27   289          25.400
28   290          24.398
29   291          23.338
30   292          22.198
31   293          21.000

In [1]:
# Python Program implement
# the above approach

# Function to generate determinant
def det(d):
	Sum = d[0][0] * ((d[1][1] * d[2][2])
					- (d[2][1] * d[1][2]))
	Sum -= d[0][1] * ((d[1][0] * d[2][2])
					- (d[1][2] * d[2][0]))
	Sum += d[0][2] * ((d[0][1] * d[1][2])
					- (d[0][2] * d[1][1]))

	# Return the sum
	return Sum

# Driver Code
if __name__ == '__main__':

	# Position vector of first line
	x1, y1, z1 = -3, 1, 5

	# Direction ratios of line to
	# which first line is parallel
	a1, b1, c1 = -3, 1, 5

	# Position vectors of second line
	x2, y2, z2 = -1, 2, 5

	# Direction ratios of line to
	# which second line is parallel
	a2, b2, c2 = -1, 2, 5

	# Determinant to check coplanarity
	det_list = [[x2-x1, y2-y1, z2-z1],
				[a1, b1, c1], [a2, b2, c2]]

	# If determinant is zero
	if(det(det_list) == 0):
		print("Lines are coplanar")

	# Otherwise
	else:
		print("Lines are non coplanar")

Lines are coplanar

In [48]:
import os
from pathlib import Path
# opening EXCEL through Code
					#local path in dir
absolutePath = Path('/mnt/c/Users/CINPC0075/Desktop/Repo-KCIN3D-reconstruction/Demo1_OUT1_183D1PLZ_平面図04_EXCEL_2.xlsx').resolve()
os.system(f'start excel.exe "{absolutePath}"')

32512